:root {
    --ls-font-family: "Sora", "iA Writer Duospace", "Roboto Mono", "SF Pro Text", Inter;
    --ls-main-content-max-width: 950px;
    --ls-main-content-max-width-wide: 1200px;
    --cl-box-shadow: rgba(23, 42, 53, 0.1) 0 1px 2px 0;
    --cl-border-radius: 2px;
    --cl-faint: 0.2;
    --cl-semi-faint: 0.4;
    --cl-medium-faint: 0.6;
    --cl-slight-faint: 0.8;
}

.dark-theme,
html[data-theme='dark'] {
    /* ==== BASE CALCULATORS ==== */
    --contrastThreshold: 60%;
    --lightnessTransform: 5%;
    --darknessTransform: 15%;
    --bg-light-transform: 3%; /* USED FOR CALCULATING VARIOUS SHADES FOR BACKGROUNDS */
    /* ==== TRANSFORMERS ==== */
    /* text colors */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 7));
    /* primary colors */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* background colors */
    --bg-darkness-1: calc(var(--background-color-l) - var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 1));
    --bg-lightness-2: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 2));
    --bg-lightness-3: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 3));
    --bg-lightness-4: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 4));
    --bg-lightness-5: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 5));
    --bg-lightness-6: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 6));
    /* === Variables which we can apply to theme elements === */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    --primary-text-dark: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-darken));
    --primary-text-light: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-lighten));
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
    /* ========== THEME SETTINGS ========== */
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--color-primary);
    --ls-active-secondary-color: var(--color-secondary);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--color-primary);
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--color-accent);
    --ls-mark-color: var(--color-primary);
    --ls-border-color: var(--color-accent);
    --ls-secondary-border-color: var(--color-secondary);
    --ls-guideline-color: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4), 0.5);
    --ls-guideline-references-color: var(--bg-color-3);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l));
    --ls-secondary-text-color: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-darken));
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.7);
    --ls-link-text-hover-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 1);
    --ls-link-ref-text-color: var(--color-primary);
    --ls-link-ref-text-hover-color: var(--color-primary-light);
    --ls-tag-text-color: var(--color-secondary);
    --ls-tag-text-hover-color: var(--color-primary);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: hsl(var(--primary-text-h), 5%, var(--primary-text-darken), 0.1);
    --ls-block-bullet-references-border-color: var(--color-offset-dark);
    --ls-block-bullet-color: hsl(var(--primary-text-h), 5%, var(--primary-text-darken), 1);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--color-primary);
    --ls-page-checkbox-color: transparent;
    --ls-page-checkbox-border-color: var(--color-primary);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-page-inline-code-bg-color: var(--bg-color-1);
    --ls-scrollbar-foreground-color: var(--color-accent);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--color-accent);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--color-primary);
    --ls-icon-color: var(--color-primary);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}

.white-theme,
html[data-theme='light'] {
    /* ==== BASE CALCULATORS ==== */
    --contrastThreshold: 60%;
    --lightnessTransform: 5%;
    --darknessTransform: 15%;
    --bg-light-transform: 3%; /* USED FOR CALCULATING VARIOUS SHADES FOR BACKGROUNDS */
    /* ==== TRANSFORMERS ==== */
    /* text colors */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 8));
    /* primary colors */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* background colors */
    --bg-darkness-1: calc(var(--background-color-l) + var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 1));
    --bg-lightness-2: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 2));
    --bg-lightness-3: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 3));
    --bg-lightness-4: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 4));
    --bg-lightness-5: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 5));
    --bg-lightness-6: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 6));
    /* === Variables which we can apply to theme elements === */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    --primary-text-dark: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-darken));
    --primary-text-light: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-lighten));
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
    /* ========== THEME SETTINGS ========== */
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--color-primary);
    --ls-active-secondary-color: var(--color-secondary);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--color-primary);
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--color-accent);
    --ls-mark-color: var(--color-primary);
    --ls-border-color: var(--color-accent);
    --ls-secondary-border-color: var(--color-secondary);
    --ls-guideline-color: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4), 0.5);
    --ls-guideline-references-color: var(--bg-color-3);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l));
    --ls-secondary-text-color: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-lighten));
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.7);
    --ls-link-text-hover-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 1);
    --ls-link-ref-text-color: var(--color-primary);
    --ls-link-ref-text-hover-color: var(--color-primary-light);
    --ls-tag-text-color: var(--color-secondary);
    --ls-tag-text-hover-color: var(--color-primary);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: hsl(var(--primary-text-h), 10%, var(--primary-text-lighten), 0.3);
    --ls-block-bullet-references-border-color: var(--color-offset-dark);
    --ls-block-bullet-color: hsl(var(--primary-text-h), 10%, 60%, 1);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--color-primary);
    --ls-page-checkbox-color: transparent;
    --ls-page-checkbox-border-color: var(--color-primary);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-page-inline-code-bg-color: var(--bg-color-1);
    --ls-scrollbar-foreground-color: var(--color-accent);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--color-accent);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--color-primary);
    --ls-icon-color: var(--color-primary);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}

/* ==== INTERFACE ==== */
.cp__header a {
    color: var(--ls-primary-text-color);
}
.cp__header .button {
    opacity: 1 !important;
}

/* === GALLERY VIEW === */
    /*===========================================================*/
    /* Gallery - flexrow wrap v20220413------------------------ */
    /* - #.v-gallery : create image galleries, default 200x200px */ 
    /* options:                                                  */
    /*     width: -w100 ; -w200 ; -w300 ; -w400 ; -fit           */
    /*     heighht: -h300; -h400 ; default height : 200px        */
    /* eg use #.v-gallery-fit-h300 to fit image widthx300px      */
    
    div[data-refs-self*="gallery"]>.block-children-container.flex {
        width: 100%;
    }
    [data-refs-self*="gallery"]>.block-children-container.flex .block-content .asset-container {
        margin-top: 0rem;
    }
    div[data-refs-self*="gallery"]>.block-children-container.flex>.block-children.w-full {
        display: inline-flex;
        position: relative;
        flex-flow: row wrap;
    }

    div[data-refs-self*="gallery"]>.block-children-container.flex>.block-children.w-full>div.ls-block {
        padding: 0;
        margin: 5px -15px;
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    div[data-refs-self*="gallery"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        object-fit: cover !important;
        height: 200px !important;
        width: 200px !important;
    }
    /* #gallery-col[2-7] : force number of columns - better for pics with same width */   
    div[data-refs-self*="-col"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-col"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        object-fit: cover ;
        width: auto !important;
        height: auto !important;
     }
    div[data-refs-self*="-col2"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-col2"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        flex-basis: 50%;
     }
    div[data-refs-self*="-col3"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-col3"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        flex-basis: 33%;
     }
    div[data-refs-self*="-col4"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-col4"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        flex-basis: 25%;
    }
    div[data-refs-self*="-col5"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-col5"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        flex-basis: 20%;
    }
    div[data-refs-self*="-col6"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-col6"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        flex-basis: 18%;
    }
    div[data-refs-self*="-col7"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-col7"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        flex-basis: 15.5%;
    }
    /* #gallery-w[100-300] : force width of the columns */
    div[data-refs-self*="-w100"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-w100"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        width: 100px !important;
    }
    div[data-refs-self*="-w150"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-w150"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        width: 150px !important;
    }
    div[data-refs-self*="-w200"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-w200"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        width: 200px !important;
    }
    div[data-refs-self*="-w250"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-w250"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        width: 250px !important;
    }
    div[data-refs-self*="-w300"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-w300"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        width: 300px !important;
    }
    div[data-refs-self*="-w400"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-w400"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        width: 400px !important;
    }
    div[data-refs-self*="-fit"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-fit"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        min-width: 200px !important;
        width: max-content !important; 
        object-fit: contain;
    }

    div[data-refs-self*="-h300"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-h300"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        height: 300px !important;
    }
    div[data-refs-self*="-h400"]>.block-children-container.flex>.block-children.w-full>div.ls-block,
    div[data-refs-self*="-h400"]>.block-children-container.flex>.block-children.w-full>div.ls-block img {
        height: 400px !important;
    }
    /* remove left border and bullets for gallery */
    [data-refs-self*="gallery"] .block-children-left-border,
    [data-refs-self*="gallery"] .block-children-container.flex .bullet-container {
        display: none;
    }

    [data-refs-self*="gallery"]>.block-children-container.flex .block-children-container.flex {
        margin: 0px !important;
        line-height: 0.2rem;
        padding-bottom: 0;
    }

/*--------------------------------------------- gallery end-- */

/* === Kanban View === */
[data-refs-self*='kanban'] > .block-children-container > .block-children {
    display: inline-flex;
    position: relative;
    margin: 0 10px;
    border: 0;
    overflow-x: auto;
}
/* column */
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block {
    display: inline-block;
    padding: 0;
    width: inherit;
    min-width: 200px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: var(--ls-tertiary-background-color);
    border: 1px solid var(--ls-border-color);
    box-shadow: var(--shadow);
}
/* header */
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row {
    background-color: var(--ls-secondary-background-color);
    border-bottom: 1px solid var(--ls-border-color);
    padding: 4px 6px;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .block-content-wrapper {
    width: 100%;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .block-content-wrapper
    > .flex {
    overflow: hidden;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    .inline,
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    .inline
    .page-ref {
    font-weight: bold;
}
[data-refs-self*='kanban'] .todo-master-progress-bar {
    max-width: 90%;
}
/* content */
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container {
    margin: 0 !important;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block::before {
    display: none;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block:last-child {
    margin-bottom: 0;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .flex-row
    > .mr-1 {
    display: none;
}
[data-refs-self*='kanban']
    > .block-children-container
    > .block-children
    > .ls-block
    > .block-children-container
    > .block-children {
    padding: 10px 0;
    border: 0;
}

/* ==== Centralized view port ==== */
/*
#left-container {
    background-image: var(--bg-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}
#main-container {
    background-color: transparent;
}
#main-content {
    background-color: transparent;
}
#main-content-container {
    flex-wrap: wrap;
    padding: 24px;
}
body:is([data-page="page"],[data-page="home"]).is-banner-active #main-content-container {
    flex-wrap: wrap;
    padding: 24px;
}
.is-banner-active #main-content-container::before {
    border-radius: 10px 10px 0 0;
    max-width: var(--ls-main-content-max-width);
}
.cp__sidebar-main-content > div {
    background-color: var(--ls-primary-background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px 2px;
    border-radius: 0px 0px 5px 5px;
    padding: 20px 30px;
    margin-bottom: 56px !important;
}
*/
/* Code Mirror Block */

.extensions__code-lang {
    top: 4px;
    padding: .10rem .30rem !important;
    border-top-right-radius: 2px;
    color: var(--bg-color);
    background-color: var(--color-primary);
}

.extensions__code .code-editor {
    margin-top: 4px;
}

.CodeMirror pre.CodeMirror-line {
    box-shadow: none;
}

.dark-theme .CodeMirror-gutter,
.dark-theme .CodeMirror-lines,
.dark-theme .CodeMirror-scroll,
.dark-theme .CodeMirror-sizer {
    background-color: var(--bg-dark);
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: var(--bg-color-1);
}

html[data-theme='light'] .CodeMirror-gutter,
.CodeMirror-lines,
.CodeMirror-scroll,
.CodeMirror-sizer {
    background-color: var(--color-level-2);
}

.cm-s-solarized.cm-s-dark {
    color: var(--ls-primary-text-color);
}


/* Code Mirror Colors */

.cm-s-solarized .cm-keyword {
    color: var(--color-primary);
}

.cm-s-solarized .cm-operator {
    color: var(--color-primary);
}

.cm-s-solarized .cm-property {
    color: var(--color-secondary);
}

.cm-s-solarized .cm-builtin {
    color: var(--color-secondary);
}

.cm-s-solarized .cm-number {
    color: var(--color-accent);
}

.cm-s-solarized .cm-string {
    color: var(--color-accent);
}

.cm-s-solarized .cm-comment {
    color: slategray;
}

.cm-s-solarized .cm-variable {
    color: var(--ls-primary-text-color);
}

.cm-s-solarized .cm-def,
.cm-s-solarized .cm-attribute {
    color: var(--color-primary);
}

/* ==== BULLET THREADING ==== */

/*.bullet-container .bullet {
    border-radius: 0px;
    height: 1.5px;
    width: 7px;
}
a:hover>.bullet-container {
    background-color: transparent;
}
a:hover>.bullet-container .bullet {
    background-color: var(--color-primary);
}
.bullet-container.bullet-closed {
    background-color: transparent;
}
.bullet-container.bullet-closed .bullet, a:hover>.bullet-container.bullet-closed .bullet {
    background-color: transparent;
}
.bullet-container.bullet-closed .bullet:before {
    content: "+";
    display: inline;
    position: relative;
    top: -12px;
    left: -2.1px;
    color: var(--ls-block-bullet-color);
    font-weight: 400;
}
a:hover>.bullet-container.bullet-closed .bullet:before {
    color: var(--color-primary);
}*/

/* START Bullet & Bullet Container */

.block-children-left-border {
	transition: all 0.3s ease-in-out;
}

.block-children-left-border:hover {
	background-color: var(--color-primary);
	transition: var(--transition);
}

a:hover>.bullet-container .bullet {
	background-color: var(--color-primary);
	box-shadow: 0 0 0 2px var(--ls-primary-background-color),
		0 0 0 4px var(--color-primary);
	transform: scale(1.4);
	/* transition: var(--transition); */
}

.ls-block .bullet {
	background-color: var(--color-primary);
	box-shadow: 0 0 0 2px var(--ls-primary-background-color),
		0 0 0 4px var(--color-primary);
	display: block;
	transition: all 0.3s ease-in-out;
}

/*=========================================================*/
/* === START highlight current path by cannibalox v0.2 ===*/
/*=========================================================*/

.ls-block:not(:focus-within) .bullet {
	background-color: var(--ls-block-bullet-color);
	box-shadow: none;
}

.block-children:not(:focus-within) {
	border-left: 1px solid var(--ls-guideline-color);
}

/*========================================================*/
/* === highlight current path by cannibalox v0.2  END ===*/
/*========================================================*/

.block-children {
	border-left: 1px solid var(--color-primary);
	transition: all 0.3s ease-in-out;
}

/* .block-children-container:focus-within > .block-children-left-border {
  border-left: 1px solid rgba(var(--havelock-blue), 0.6);
  /* display: block; */
/* }  */

/* Bullet & Bullet Container END */

/* ==== Block Control ==== */
.block-control {
    opacity: 0;
}
.block-control:hover {
    opacity: 1;
    transition: 0.4s;
}

/* Markdown Formatting */

/* === Horizontal Line === */
hr {
    margin: 0px;
    border-top-width: 2px;
    position: relative;
    top: 11px;
}

/* Font Weights */
.ls-block {
    font-weight: 400;
}

/* === Highlights ==== */

mark {
    background: var(--color-primary);
    color: var(--bg-color);
    padding: 3px 3px;
    border-radius: 0px;
}
mark .block-ref {
    border-bottom: 0px solid;
    padding: 0px 0px;
    transition: 0.2s;
    color: var(--bg-color-6);
    position: relative;
    top: 0.2px;
}
mark .block-ref:hover {
    padding: 0px 0px;
    border-radius: 0px;
}
mark:not(pre)>code {
    padding: 0px 0px !important;
}

/* ==== BLOCK REFERENCES ==== */
.block-ref :not(pre)>code {
    display: inline;
}

/* ==== INLINE CODE ==== */

.white-theme :not(pre)>code {
    border-radius: var(--cl-border-radius);
    font-size: 85%;
    font-family: "SF Mono";
    padding: 1px 5px !important;
    background: hsl(var(--primary-text-h), var(--primary-text-s), 85%, 0.2);
    color: var(--ls-primary-text-color);
    line-height: 1.45em;
    font-style: normal !important;
    border: 1px solid hsl(var(--primary-text-h), var(--primary-text-s), 50%, 0.6);
    word-spacing: -2.5px;
}
.dark-theme :not(pre)>code {
    border-radius: var(--cl-border-radius);
    font-size: 85%;
    font-family: "SF Mono";
    padding: 1px 5px !important;
    background: hsl(var(--primary-text-h), var(--primary-text-s), 2%, 0.2);
    color: var(--ls-primary-text-color);
    line-height: 1.45em;
    font-style: normal !important;
    border: 1px solid hsl(var(--primary-text-h), var(--primary-text-s), 50%, 0.6);
    word-spacing: -2.5px;
}


/* === Headlines & Titles === */

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    border-bottom: 0px solid !important;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    margin: 0 0 0 !important;
}

.editor-inner .h3.uniline-block,
.ls-block h3 {
    position: relative;
    top: -5px;
}
/* === FIXING HEADLINE POSITIONS === */
.editor-inner .h1.uniline-block, .ls-block h1 {
    font-size: 2em;
    min-height: 1.5em;
}
.editor-inner .h2.uniline-block, .ls-block h2 {
    position: relative;
    font-size: 1.5em;
    min-height: 1.5em;
    top: -3px;
}
.editor-inner .h3.uniline-block, .ls-block h3 {
    position: relative;
    font-size: 1.3em;
    min-height: 1.5em;
    top: -4px;
}
.editor-inner .h4.uniline-block, .ls-block h4, .editor-inner .h5.uniline-block, .ls-block h5, .editor-inner .h6.uniline-block, .ls-block h6 {
    position: relative;
    top: -5px;
    font-size: 1em;
    min-height: 1.5em;
}

.block-marker {
    color: var(--color-primary);
    opacity: var(--cl-slight-faint);
    font-weight: 700;
    font-size: 100%;
}

.external-link {
    color: var(--ls-link-text-color);
    border-bottom: 0px solid;
    text-decoration: underline;
    text-decoration-skip: none;
}

.external-link:hover {
    color: var(--ls-link-text-hover-color);
}

.block-ref {
    border-bottom: 0px solid var(--color-primary);
    color: hsl(var(--primary-text-h), var(--primary-text-s), var(--primary-text-l), 0.7);
    padding: 0 2px;
    display: inline;
}
.block-ref:before {
    content: "»";
    padding-right: 6px;
    font-style: normal;
}

.block-ref:hover {
    background: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l), 0.2);
    cursor: pointer;
    color: var(--ls-primary-text-color);
    border-radius: var(--cl-border-radius);
}

.block-ref>div div {
    display: inline;
}

.block-ref a.tag {
    background: transparent;
    border: 0px solid;
    font-size: 100%;
}

.block-children {
    border-left: 1px solid var(--ls-guideline-color);
}

.block-children-left-border {
    background-color: transparent;
}

.block-children-left-border:hover {
    background-color: var(--color-primary) !important;
}

.references-blocks .block-children-left-border {
    background-color: transparent;
}


/* TYPOGRAPHY */


/*html[data-theme=light] .cp__right-sidebar .block-content {
    --ls-page-inline-code-bg-color: transparent !important;
}*/


/* Right sidebar properties, right sidebar references window */

#right-sidebar .block-properties {
    background-color: var(--color-level-2);
}

#right-sidebar .my-2.color-level .block-properties {
    background-color: var(--color-level-3) !important;
}


/* Embedded page, main container reference window */

#main-content-container .references-blocks .block-properties {
    background-color: var(--bg-color-2);
}


/* References title and breadcrumbs */

.dark-theme .references .foldable-title .page-ref:hover,
.white-theme .references .foldable-title .page-ref:hover {
    color: var(--ls-link-ref-text-hover-color) !important;
}


/* === References Window Breadcrumbs === */

.mx-2.opacity-50 {
    font-size: 100%;
}

.block-parents a:not(.tag) {
    color: var(--ls-primary-text-color);
    font-size: 90%;
    filter: opacity(0.7);
}

.block-parents a:hover {
    color: var(--ls-primary-text-color) !important;
    filter: opacity(1);
}

.foldable-title .page-ref {
    color: var(--color-primary);
}

.color-level.rounded {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.my-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

li.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.form-checkbox {
    border: 2px solid var(--bg-color-5);
    opacity: var(--cl-slight-faint);
    border-radius: 4px;
    margin-left: 1px;
    position: relative;
    top: 0px;
    background-color: var(--bg-color-1);
}
.custom-query .form-checkbox {
    background-color: var(--bg-color);
}
.form-checkbox:checked {
    opacity: var(--cl-slight-faint);
    background-color: var(--color-primary);
}

.done .tag {
    text-decoration: line-through;
}

a.tag {
    background: transparent;
    border: 0px solid hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l), 0.2);
    font-size: 90%;
    padding: 0px 1px;
    border-radius: var(--cl-border-radius);
    font-weight: 600;
    display: inline;
}


/* PDF Viewer */

#pdf-layout-container[data-theme=light] .textLayer {
    background-color: #eceff4;
}

#pdf-layout-container[data-theme=dark] .textLayer {
    background-color: #2f3541;
}

#pdf-layout-container[data-theme=light] {
    background-color: #ced6e3;
}

#pdf-layout-container[data-theme=dark] {
    background-color: #22272f;
}

.textLayer .highlight.selected,
.textLayer ::selection {
    background-color: var(--color-primary);
}

/*:root {
    --ph-highlight-color-blue: var(--color-accent);
    --ph-highlight-color-green: var(--cd-green-1);
    --ph-highlight-color-red: var(--color-primary);
    --ph-highlight-color-purple: var(--cd-pink-1);
    --ph-highlight-color-yellow: var(--color-secondary);
    --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
}*/

.hls-popup-box {
    background-color: var(--color-level-3);
}

::-webkit-scrollbar {
    width: 5px !important;
}

.editor-inner textarea {
    caret-color: var(--color-primary);
    background-color: var(--bg-color-1);
}

.color-level .editor-inner {
    background-color: var(--bg-color-2);
}

.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber,
.cm-s-solarized.cm-s-light {
    text-shadow: none !important;
}

::selection {
    color: var(--bg-color);
}

.block-parents mark {
    text-decoration-color: var(--cd-inactive-color);
}

.page-property-key {
    color: var(--ls-primary-text-color);
}

.open-block-ref-link {
    background-color: var(--bg-color-4);
    color: var(--ls-primary-text-color);
    font-weight: 500;
}

.flex.flex-1.flex-row.w-full.mt-6 {
    margin-top: 0.5rem;
}

.block-properties {
    padding: 2px 8px;
    margin: 0px;
    background: var(--bg-color-2);
    border-radius: var(--cl-border-radius);
}

.white-theme .references-blocks :is(.CodeMirror-gutter, .CodeMirror-lines, .CodeMirror-scroll, .CodeMirror-sizer) {
    background-color: var(--bg-color);
}
.page-reference .bracket {
    color: var(--ls-primary-text-color);
    opacity: 0.2;
}

/* FIXES */
a svg {
    color: var(--ls-secondary-text-color);
}
.whitespace-nowrap {
    white-space: normal;
}