@import './core1.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-dark: hsl(6, 24%, 7%);
    --bg-color: hsl(6, 24%, 10%);
    --bg-color-1: hsl(6, 24%, 13%);
    --bg-color-2: hsl(6, 24%, 16%);
    --bg-color-3: hsl(6, 24%, 19%);
    --bg-color-4: hsl(6, 24%, 22%);
    --bg-color-5: hsl(6, 24%, 25%);
    --bg-color-6: hsl(6, 24%, 28%);
    --cd-inactive-color: hsl(6, 24%, 35%);
    --cd-active-color: #85964e;
    --cd-accent-color: #aa4465;
    --cd-alternate-color: #bea246;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-4);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: #78684747;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #c6beab;
    --ls-secondary-text-color: #918a7b;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: #78684738;
    --ls-block-bullet-color: #786847;
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: transparent;
    --ls-page-checkbox-border-color: var(--ls-primary-background-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: #bea24617;
    --ls-scrollbar-foreground-color: var(--cd-inactive-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}

.white-theme,
html[data-theme='light'] {
    --bg-color: hsl(46, 18%, 92%);
    --bg-color-1: hsl(46, 18%, 89%);
    --bg-color-2: hsl(46, 18%, 86%);
    --bg-color-3: hsl(46, 18%, 83%);
    --bg-color-4: hsl(46, 18%, 80%);
    --bg-color-5: hsl(46, 18%, 77%);
    --bg-color-6: hsl(46, 18%, 74%);
    --cd-inactive-color: hsl(46, 18%, 65%);
    --cd-active-color: #83af89;
    --cd-accent-color: #aa4465;
    --cd-alternate-color: #8fbb6f;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: var(--color-level-4);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #4d5347;
    --ls-secondary-text-color: #72776d;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: var(--color-level-3);
    --ls-block-bullet-color: #c2bfb4;
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: transparent;
    --ls-page-checkbox-border-color: var(--ls-primary-background-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: #8fbb6f24;
    --ls-scrollbar-foreground-color: var(--ls-guideline-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}