.cp__sidebar-main-content > div {
    background-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l), 0.8);
}
.block-properties {
    background: transparent;
    padding: 0px 0px;
    border-radius: 0px;
    font-weight: 300;
    color: var(--color-accent);
}
.page-property-key {
    color: var(--color-accent);
}