.dark-theme,
html[data-theme='dark'] {
        /* Values for calculations */
        --contrastThreshold: 60%;
        --lightnessTransform: 10%;
        --darknessTransform: 15%;
        /* Transformers */
        --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
        --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
        --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
        --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
        --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
        --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
        /* Color Calculations */
        --color-primary: hsl(var(--primary-color-h),
                        var(--primary-color-s),
                        var(--primary-color-l));
        --color-secondary: hsl(var(--secondary-color-h),
                        var(--secondary-color-s),
                        var(--secondary-color-l));
        --color-accent: hsl(var(--accent-color-h),
                        var(--accent-color-s),
                        var(--accent-color-l));
        --color-primary-dark: hsl(var(--primary-color-h),
                        var(--primary-color-s),
                        var(--primary-color-dark-l));
        --color-secondary-dark: hsl(var(--secondary-color-h),
                        var(--secondary-color-s),
                        var(--secondary-color-dark-l));
        --color-accent-dark: hsl(var(--accent-color-h),
                        var(--accent-color-s),
                        var(--accent-color-dark-l));
        --color-primary-light: hsl(var(--primary-color-h),
                        var(--primary-color-s),
                        var(--primary-color-light-l));
        --color-secondary-light: hsl(var(--secondary-color-h),
                        var(--secondary-color-s),
                        var(--secondary-color-light-l));
        --color-accent-light: hsl(var(--accent-color-h),
                        var(--accent-color-s),
                        var(--accent-color-light-l));
        /* Background Values for calculations */
        --bg-light-transform: 3%;
        /* Transformers */
        --bg-darkness-1: calc(var(--background-color-l) - var(--bg-light-transform));
        --bg-lightness-1: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 1));
        --bg-lightness-2: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 2));
        --bg-lightness-3: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 3));
        --bg-lightness-4: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 4));
        --bg-lightness-5: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 5));
        --bg-lightness-6: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 6));
        /* Background Calculations */
        --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
        --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
        --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
        --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
        --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
        --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
        --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
        --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
}

.white-theme,
html[data-theme='light'] {
        /* Values for calculations */
        --contrastThreshold: 60%;
        --lightnessTransform: 10%;
        --darknessTransform: 15%;
        /* Transformers */
        --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
        --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
        --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
        --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
        --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
        --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
        /* Color Calculations */
        --color-primary: hsl(var(--primary-color-h),
                        var(--primary-color-s),
                        var(--primary-color-l));
        --color-secondary: hsl(var(--secondary-color-h),
                        var(--secondary-color-s),
                        var(--secondary-color-l));
        --color-accent: hsl(var(--accent-color-h),
                        var(--accent-color-s),
                        var(--accent-color-l));
        --color-primary-dark: hsl(var(--primary-color-h),
                        var(--primary-color-s),
                        var(--primary-color-dark-l));
        --color-secondary-dark: hsl(var(--secondary-color-h),
                        var(--secondary-color-s),
                        var(--secondary-color-dark-l));
        --color-accent-dark: hsl(var(--accent-color-h),
                        var(--accent-color-s),
                        var(--accent-color-dark-l));
        --color-primary-light: hsl(var(--primary-color-h),
                        var(--primary-color-s),
                        var(--primary-color-light-l));
        --color-secondary-light: hsl(var(--secondary-color-h),
                        var(--secondary-color-s),
                        var(--secondary-color-light-l));
        --color-accent-light: hsl(var(--accent-color-h),
                        var(--accent-color-s),
                        var(--accent-color-light-l));
        /* Background Values for calculations */
        --bg-light-transform: 3%;
        /* Transformers */
        --bg-darkness-1: calc(var(--background-color-l) + var(--bg-light-transform));
        --bg-lightness-1: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 1));
        --bg-lightness-2: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 2));
        --bg-lightness-3: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 3));
        --bg-lightness-4: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 4));
        --bg-lightness-5: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 5));
        --bg-lightness-6: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 6));
        /* Background Calculations */
        --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
        --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
        --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
        --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
        --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
        --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
        --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
        --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
}