@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-url: url(https://images.unsplash.com/photo-1604514813560-1e4f5726db65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
    --background-color-h: 345;
    --background-color-s: 13%;
    --background-color-l: 9%;
    --primary-color-h: 187;
    --primary-color-s: 47%;
    --primary-color-l: 55%;
    --secondary-color-h: 353;
    --secondary-color-s: 63%;
    --secondary-color-l: 55%;
    --accent-color-h: 7;
    --accent-color-s: 47%;
    --accent-color-l: 55%;
    --primary-text-h: 23;
    --primary-text-s: 27%;
    --primary-text-l: 70%;
}

.white-theme,
html[data-theme='light'] {
    --bg-url: url(https://images.unsplash.com/photo-1574376407492-c3cf78231def?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
    --background-color-h: 21;
    --background-color-s: 28%;
    --background-color-l: 88%;
    --primary-color-h: 187;
    --primary-color-s: 47%;
    --primary-color-l: 40%;
    --secondary-color-h: 7;
    --secondary-color-s: 47%;
    --secondary-color-l: 55%;
    --accent-color-h: 356;
    --accent-color-s: 23%;
    --accent-color-l: 49%;
    --primary-text-h: 196;
    --primary-text-s: 20%;
    --primary-text-l: 22%;
}