@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-url: url(https://images.unsplash.com/photo-1604514813560-1e4f5726db65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
    --background-color-h: 201;
    --background-color-s: 100%;
    --background-color-l: 14%;
    --primary-color-h: 164;
    --primary-color-s: 95%;
    --primary-color-l: 43%;
    --secondary-color-h: 42;
    --secondary-color-s: 100%;
    --secondary-color-l: 70%;
    --accent-color-h: 42;
    --accent-color-s: 100%;
    --accent-color-l: 70%;
    --primary-text-h: 183;
    --primary-text-s: 11%;
    --primary-text-l: 85%;
}

html[data-theme='light'] {
    --bg-url: url(https://images.unsplash.com/photo-1593063338710-db1f8bf2a410?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2387&q=80);
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --primary-color-h: 164;
    --primary-color-s: 95%;
    --primary-color-l: 38%;
    --secondary-color-h: 42;
    --secondary-color-s: 100%;
    --secondary-color-l: 58%;
    --accent-color-h: 42;
    --accent-color-s: 100%;
    --accent-color-l: 58%;
    --primary-text-h: 201;
    --primary-text-s: 50%;
    --primary-text-l: 15%;
}