@import './worksans.css';

/* GLOBAL SETTINGS */

:root {
    --ls-font-family: "Work Sans";
    --ls-main-content-max-width: 700px;
    --ls-main-content-max-width-wide: 900px;
}

.bg-indigo-600 {
    background-color: var(--cd-active-color);
}

/* Code Mirror Block */

.extensions__code-lang {
    top: 8px;
    padding: .10rem .30rem !important;
    color: var(--bg-color);
}

.extensions__code-lang {
    background-color: var(--cd-accent-color);
}

.extensions__code .code-editor {
    margin-top: 4px;
}

.CodeMirror pre.CodeMirror-line {
    box-shadow: none;
}

.dark-theme .CodeMirror-gutter,
.dark-theme .CodeMirror-lines,
.dark-theme .CodeMirror-scroll,
.dark-theme .CodeMirror-sizer {
    background-color: var(--bg-dark);
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: var(--bg-color-1);
}

html[data-theme='light'] .CodeMirror-gutter,
.CodeMirror-lines,
.CodeMirror-scroll,
.CodeMirror-sizer {
    background-color: var(--color-level-1);
}

.cm-s-solarized.cm-s-dark {
    color: var(--ls-primary-text-color);
}

/* Code Mirror Colors */

.cm-s-solarized .cm-keyword {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-operator {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-property {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-builtin {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-number {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-string {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-comment {
    color: var(--cd-inactive-color);
}

.cm-s-solarized .cm-variable {
    color: var(--ls-primary-text-color);
}

.cm-s-solarized .cm-def,
.cm-s-solarized .cm-attribute {
    color: var(--cd-active-color);
}

/* Markdown Formatting */

mark {
    background-color: var(--cd-active-color);
    color: var(--bg-color);
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    border-bottom: 0px solid !important;
}

.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
    margin: 0 0 0  !important;
}

.block-marker {
    color: var(--cd-active-color);
    opacity: 0.7;
    font-weight: 600;
}

.external-link:after {
    font-family: 'tabler-icons';
    margin-left: 3px;
    content: "\ea99";
    padding-left: 3px;
    font-size: 80%;
}

.external-link {
    color: var(--ls-link-text-color);
    border-bottom: 0px solid;
    text-decoration: underline;
    text-decoration-skip: none;
}

.external-link:hover {
    color: var(--ls-link-text-hover-color);
}

.block-ref {
    border-bottom: 0px solid var(--bg-color-6);
    color: var(--ls-primary-text-color);
    padding: 0px 0px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--bg-color-4);
    text-underline-offset: 1px;
}

.block-ref:hover {
    color: var(--cd-alternate-color);
    cursor: pointer;
    padding: 0px 0px;
}

.block-children {
    border-left: 0px solid var(--ls-guideline-color);
}

.block-children-left-border {
    background-color: var(--ls-guideline-color);
}

.block-children-left-border:hover {
    background-color: var(--cd-active-color) !important;
}

/* TYPOGRAPHY */

:not(pre)>code {
    font-family: "JetBrains Mono", "Fira Code";
    background-color: var(--ls-page-inline-code-bg-color);
    background-color: transparent;
    color: var(--cd-alternate-color);
    padding: 0px 1px !important;
    border-radius: 1px;
}

:not(pre)>code:before, :not(pre)>code:after {
    content: "`";
}

/*html[data-theme=light] .cp__right-sidebar .block-content {
    --ls-page-inline-code-bg-color: transparent !important;
}*/


/* Right sidebar properties, right sidebar references window */

#right-sidebar .block-properties {
    background-color: var(--color-level-2);
}

#right-sidebar .my-2.color-level .block-properties {
    background-color: var(--color-level-3) !important;
}


/* Embedded page, main container reference window */

#main-content-container .references-blocks .block-properties {
    background-color: transparent;
}


/* References title and breadcrumbs */

.dark-theme .references .foldable-title .page-ref:hover,
.white-theme .references .foldable-title .page-ref:hover {
    color: var(--ls-link-ref-text-hover-color) !important;
}

/* === References Window Breadcrumbs === */

.mx-2.opacity-50 {
    font-size: 100%;
}

.block-parents a:not(.tag) {
    color: var(--ls-primary-text-color);
    font-size: 90%;
    filter: opacity(0.5);
}

.block-parents a:hover {
    color: var(--ls-primary-text-color) !important;
    filter: opacity(1);
}

.foldable-title .page-ref {
    color: var(--cd-active-color);
}

.color-level.rounded {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.my-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

li.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.form-checkbox {
    border: 1.5px solid var(--ls-page-checkbox-border-color);
    background-color: transparent;
    opacity: 0.7;
    border-radius: 1px;
    margin-left: 1px;
    position: relative;
    top: 0px;
}

.form-checkbox:checked {
    background-color: var(--cd-inactive-color);
    opacity: 0.4;
}

.done .tag {
    text-decoration: line-through;
}

/* PDF Viewer */

#pdf-layout-container[data-theme=light] .textLayer {
    background-color: #eceff4;
}

#pdf-layout-container[data-theme=dark] .textLayer {
    background-color: #2f3541;
}

#pdf-layout-container[data-theme=light] {
    background-color: #ced6e3;
}

#pdf-layout-container[data-theme=dark] {
    background-color: #22272f;
}

.textLayer .highlight.selected,
.textLayer ::selection {
    background-color: var(--cd-active-color);
}

:root {
    --ph-highlight-color-blue: var(--cd-accent-color);
    --ph-highlight-color-green: var(--cd-green-1);
    --ph-highlight-color-red: var(--cd-active-color);
    --ph-highlight-color-purple: var(--cd-pink-1);
    --ph-highlight-color-yellow: var(--cd-alternate-color);
    --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
}

.hls-popup-box {
    background-color: var(--color-level-3);
}

::-webkit-scrollbar {
    width: 5px !important;
}

.editor-inner textarea {
    caret-color: var(--cd-active-color);
}

.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber, .cm-s-solarized.cm-s-light {
    text-shadow: none !important;
}

::selection {
    color: var(--bg-color);
}

.block-parents mark {
    text-decoration-color: var(--cd-inactive-color);
}

.page-property-key {
    color: var(--ls-primary-text-color);
}


.open-block-ref-link {
    background-color: var(--cd-alternate-color);
    color: var(--bg-color);
    font-weight: 700;
}

.flex.flex-1.flex-row.w-full.mt-6 {
    margin-top: 0.5rem;
}

.block-properties {
    padding: 0px 8px;
    margin: 0px;
}
.dark-theme .page-properties {
    background: var(--bg-dark);
}
.white-theme .references-blocks :is(.CodeMirror-gutter,.CodeMirror-lines,.CodeMirror-scroll,.CodeMirror-sizer) {
    background-color: var(--bg-color-2);
}

.ls-block {
    font-weight: 400;
}
.ls-block b {
    font-weight: 600;
}
.page-reference .bracket {
    color: var(--ls-primary-text-color);
}

/* TAG MARKUPS */

a.tag {
    color: var(--ls-tag-text-color);
    background: transparent;
    background-size: 100%;
    font-size: 100%;
    padding: 0px;
    font-weight: 600;
}

a.tag[data-ref$="note"], a.tag[data-ref="project"], a.tag[data-ref="area"], a.tag[data-ref="resource"] {
    color: var(--cd-alternate-color);
    background: var(--cd-alternate-faded-color);
    border: 0px solid;
    font-size: 80%;
    line-height: 1em;
    padding: 2px 3px;
    font-weight: 700;
    border-radius: 2px;
}

a.tag[data-ref$="fixnote"], a.tag[data-ref$="sparknote"], a.tag[data-ref$="worknote"], a.tag[data-ref$="incnote"] {
    color: var(--cd-active-color);
    background: var(--ls-guideline-color);
    border: 0px solid;
    font-size: 80%;
    line-height: 1em;
    padding: 2px 3px;
    font-weight: 700;
    border-radius: 2px;
}

a.tag[data-ref$="note"]:after {
    content: "\efec";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 1px;
    padding-right: 3px;
}
a.tag[data-ref="sparknote"]:after {
    content: "\ea51";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 1px;
    padding-right: 3px;
}
a.tag[data-ref$="fixnote"]:after {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 1px;
    padding-right: 3px;
}
a.tag[data-ref$="worknote"]:after {
    content: "\ea89";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 1px;
    padding-right: 3px;
}
a.tag[data-ref$="incnote"]:after {
    content: "\ea48";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 1px;
    padding-right: 3px;
}
a.tag[data-ref$="area"]:after, a.tag[data-ref$="project"]:after, a.tag[data-ref$="incident"]:after, a.tag[data-ref$="resource"]:after {
    content: "\f01a";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 1px;
    padding-right: 3px;
}

/* PAGE REFERENCE MARKUPS */

.page-ref[data-ref^="z_"] {
    font-weight: 700;
    color: var(--cd-alternate-color);
}
.page-ref[data-ref="literature notes"] {
    color: var(--cd-accent-color);
    font-weight: 700;
}
.page-ref[data-ref="permanent notes"] {
    color: var(--cd-alternate-color);
    font-weight: 700;
}

.page-ref[data-ref^="z_"]:before, h1.title[data-ref^="z_"]:before {
    content: "\eb96";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 1px;
    font-weight: 100;
  }
  .page-ref[data-ref="literature notes"]:before, h1.title[data-ref="literature notes"]:before {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 1px;
    font-weight: 100;
  }
  .page-ref[data-ref="permanent notes"]:before, h1.title[data-ref="permanent notes"]:before {
    content: "\eb96";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 1px;
    font-weight: 100;
  }
  
  span[data-page-ref^="Z:"]:after {
    content: "\eb96";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  
  span[data-page-ref^="LN-"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  span[data-page-ref="Literature Notes"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  span[data-page-ref="Permanent Notes"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  
  span[data-page-ref^="OBS "]:after {
    content: "👀";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  
  span[data-page-ref^="Z:"], span[data-page-ref^="LN-"], span[data-page-ref="ISS"], span[data-page-ref^="OBS "], span[data-page-ref="Literature Notes"], span[data-page-ref="Permanent Notes"] {
    display: inline-flex;
  }

/* References Markup */
a.page-ref[data-ref^="apr "], a.page-ref[data-ref^="mar "], a.page-ref[data-ref^="feb "], a.page-ref[data-ref^="jan "], a.page-ref[data-ref^="may "], a.page-ref[data-ref^="jun "], a.page-ref[data-ref^="jul "], a.page-ref[data-ref^="aug "], a.page-ref[data-ref^="sep "], a.page-ref[data-ref^="oct "], a.page-ref[data-ref^="nov "], a.page-ref[data-ref^="dec "] {
    color: var(--cd-accent-color);
    font-weight: 700;
}
a.page-ref[data-ref^="apr "]:before, a.page-ref[data-ref^="mar "]:before, a.page-ref[data-ref^="feb "]:before, a.page-ref[data-ref^="jan "]:before, a.page-ref[data-ref^="may "]:before, a.page-ref[data-ref^="jun "]:before, a.page-ref[data-ref^="jul "]:before, a.page-ref[data-ref^="aug "]:before, a.page-ref[data-ref^="sep "]:before, a.page-ref[data-ref^="oct "]:before, a.page-ref[data-ref^="nov "]:before, a.page-ref[data-ref^="dec "]:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-right: 5px;
    font-weight: 100;
    position: relative;
    top: 1px;
}
.color-level.rounded {
    border: 0px solid var(--ls-guideline-color);
}

/* Page References */
.page-ref {
    color: var(--ls-link-ref-text-color);
    text-decoration: none;
    text-decoration-thickness: 1.5px;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    text-decoration-color: var(--ls-primary-text-color);
}

/* TITLE MARKUPS */
h1.title[data-ref^="apr "], h1.title[data-ref^="mar "], h1.title[data-ref^="feb "], h1.title[data-ref^="jan "], h1.title[data-ref^="may "], h1.title[data-ref^="jun "], h1.title[data-ref^="jul "], h1.title[data-ref^="aug "], h1.title[data-ref^="sep "], h1.title[data-ref^="oct "], h1.title[data-ref^="nov "], h1.title[data-ref^="dec "] {
    color: var(--cd-accent-color);
    font-weight: 700;
}
h1.title[data-ref^="apr "]:before, h1.title[data-ref^="mar "]:before, h1.title[data-ref^="feb "]:before, h1.title[data-ref^="jan "]:before, h1.title[data-ref^="may "]:before, h1.title[data-ref^="jun "]:before, h1.title[data-ref^="jul "]:before, h1.title[data-ref^="aug "]:before, h1.title[data-ref^="sep "]:before, h1.title[data-ref^="oct "]:before, h1.title[data-ref^="nov "]:before, h1.title[data-ref^="dec "]:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-right: 5px;
    font-weight: 100;
    position: relative;
    top: 1px;
}

/* JOURNAL PAGES */
.journal-item h1.title {
    color: var(--cd-accent-color);
}
.journal-item h1.title:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
}

/* FIXES */
.whitespace-nowrap {
    white-space: normal;
}