@import './worksans.css';
@import './markup.css';

/* GLOBAL SETTINGS */

:root {
    --ls-font-family: "Work Sans";
    --ls-main-content-max-width: 900px;
    --ls-main-content-max-width-wide: 100%;
}

/* Gradient Background */
.dark-theme #app-container, .white-theme #app-container {
    background-image: var(--bg-gradient);
}
.cp__sidebar-main-layout {
    background-color: transparent;
}

/* TRANSPARENCY ELEMENTS */
.color-level {
    background-color: var(--bg-color-1-faded)
}

.color-level .color-level {
    background-color:  var(--bg-color-1-faded);
}

.cp__right-sidebar-topbar {
    background-color: var(--bg-color-1-faded);
}

.cp__right-sidebar {
    background-color: var(--bg-color-1-faded);
}

#right-sidebar .block-properties {
    background-color: var(--bg-color-2-faded);
}

#right-sidebar .my-2.color-level .block-properties {
    background-color: var(--bg-color-2-faded);
}

.left-sidebar-inner {
    background-color: var(--bg-color-1-faded);
}

.cp__sidebar-left-layout:before {
    background-color: var(--bg-color-1-faded);
}

.left-sidebar-inner .new-page {
    background-color: var(--bg-color);
    width: 235px;
    padding: 1px;
    border-radius: 0px;
}
.left-sidebar-inner a.item:hover {
    background-color: transparent;
    color: var(--cd-active-color);
}

.block-properties {
    background-color: var(--bg-color-2-faded);
}

.page-reference:hover {
    background: var(--bg-color-1-faded);
}

a.button.active, a.button:hover {
    background: var(--bg-color-1-faded);
}

/* NAVIGATOR BAR ICONS */
.cp__header-logo, .fade-link {
    color: var(--ls-link-text-color);
}

/* LEFT SIDEBAR */
.left-sidebar-inner a.item:hover {
    background: var(--bg-color-1-faded);
}
.left-sidebar-inner .nav-content-item>.header:hover {
    background: var(--bg-color-1-faded);
}
.left-sidebar-inner .nav-content-item>.header:hover * {
    color: var(--cd-active-color);
}
.left-sidebar-inner .nav-content-item>.bd ul a:hover {
    background: var(--bg-color-1-faded);
}
.left-sidebar-inner .nav-content-item>.bd ul a:hover {
    color: var(--cd-active-color);
}

.bg-indigo-600 {
    background-color: var(--cd-active-color);
}

/* Code Mirror Block */

.extensions__code-lang {
    top: 8px;
    padding: .10rem .30rem !important;
    right: 4px;
    border-radius: 5px;
    color: var(--bg-color);
}

.extensions__code-lang {
    background-color: var(--cd-accent-color);
}

.extensions__code .code-editor {
    margin-top: 4px;
}

.CodeMirror pre.CodeMirror-line {
    box-shadow: none;
}

.dark-theme .CodeMirror-gutter,
.dark-theme .CodeMirror-lines,
.dark-theme .CodeMirror-scroll,
.dark-theme .CodeMirror-sizer {
    background-color: var(--bg-dark);
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: var(--bg-color-1);
}

html[data-theme='light'] .CodeMirror-gutter,
.CodeMirror-lines,
.CodeMirror-scroll,
.CodeMirror-sizer {
    background-color: var(--color-level-1);
}

.cm-s-solarized.cm-s-dark {
    color: var(--ls-primary-text-color);
}

/* Code Mirror Colors */

.cm-s-solarized .cm-keyword {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-operator {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-property {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-builtin {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-number {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-string {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-comment {
    color: var(--cd-inactive-color);
}

.cm-s-solarized .cm-variable {
    color: var(--ls-primary-text-color);
}

.cm-s-solarized .cm-def,
.cm-s-solarized .cm-attribute {
    color: var(--cd-active-color);
}

/* Markdown Formatting */

mark {
    background-color: var(--cd-active-color);
    color: var(--bg-color);
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    border-bottom: 0px solid !important;
}

.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
    margin: 0 0 0  !important;
}

.block-marker {
    color: var(--cd-active-color);
    opacity: 0.7;
    font-weight: 600;
}

.external-link {
    color: var(--ls-link-text-color);
    border-bottom: 0px solid;
    text-decoration: underline;
    text-decoration-skip: none;
}

.external-link:hover {
    color: var(--ls-link-text-hover-color);
}

.block-ref {
    border-bottom: 0px solid var(--bg-color-6);
    color: var(--ls-primary-text-color);
    padding: 0px 0px;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--ls-primary-text-color);
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
}

.block-ref:hover {
    color: var(--cd-alternate-color);
    cursor: pointer;
    padding: 0px 0px;
}

.block-children {
    border-left: 0px solid var(--ls-guideline-color);
}

.block-children-left-border {
    background-color: var(--ls-guideline-color);
}

.block-children-left-border:hover {
    background-color: var(--cd-active-color) !important;
}

/* TYPOGRAPHY */

:not(pre)>code {
    font-family: "JetBrains Mono", "Fira Code";
    background-color: var(--ls-page-inline-code-bg-color);
    background-color: transparent;
    color: var(--cd-alternate-color);
    padding: 0px 1px !important;
    border-radius: 1px;
}

:not(pre)>code:before, :not(pre)>code:after {
    content: "`";
}

/*html[data-theme=light] .cp__right-sidebar .block-content {
    --ls-page-inline-code-bg-color: transparent !important;
}*/


/* Embedded page, main container reference window */

#main-content-container .references-blocks .block-properties {
    background-color: transparent;
}


/* References title and breadcrumbs */

.dark-theme .references .foldable-title .page-ref:hover,
.white-theme .references .foldable-title .page-ref:hover {
    color: var(--ls-link-ref-text-hover-color) !important;
}

/* === References Window Breadcrumbs === */

.mx-2.opacity-50 {
    font-size: 100%;
}

.block-parents a:not(.tag) {
    color: var(--ls-primary-text-color);
    font-size: 90%;
    filter: opacity(0.5);
}

.block-parents a:hover {
    color: var(--ls-primary-text-color) !important;
    filter: opacity(1);
}

.foldable-title .page-ref {
    color: var(--cd-active-color);
}

.color-level.rounded {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.my-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

li.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.form-checkbox {
    border: 1.5px solid var(--ls-page-checkbox-border-color);
    background-color: transparent;
    opacity: 0.7;
    border-radius: 50%;
    margin-left: 1px;
    position: relative;
    top: 0px;
}

.form-checkbox:checked {
    background-color: var(--cd-inactive-color);
    opacity: 0.4;
}

.done .tag {
    text-decoration: line-through;
}
a.tag {
    background: var(--ls-block-bullet-color);
    color: var(--bg-color);
    border: 0px solid;
    font-size: 85%;
    line-height: 1em;
    padding: 2px 3px;
    font-weight: 700;
    border-radius: 2px;
}

/* PDF Viewer */

#pdf-layout-container[data-theme=light] .textLayer {
    background-color: #eceff4;
}

#pdf-layout-container[data-theme=dark] .textLayer {
    background-color: #2f3541;
}

#pdf-layout-container[data-theme=light] {
    background-color: #ced6e3;
}

#pdf-layout-container[data-theme=dark] {
    background-color: #22272f;
}

.textLayer .highlight.selected,
.textLayer ::selection {
    background-color: var(--cd-active-color);
}

:root {
    --ph-highlight-color-blue: var(--cd-accent-color);
    --ph-highlight-color-green: var(--cd-green-1);
    --ph-highlight-color-red: var(--cd-active-color);
    --ph-highlight-color-purple: var(--cd-pink-1);
    --ph-highlight-color-yellow: var(--cd-alternate-color);
    --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
}

.hls-popup-box {
    background-color: var(--color-level-3);
}

::-webkit-scrollbar {
    width: 5px !important;
}

.editor-inner textarea {
    caret-color: var(--cd-active-color);
}

.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber, .cm-s-solarized.cm-s-light {
    text-shadow: none !important;
}

::selection {
    color: var(--bg-color);
}

.block-parents mark {
    text-decoration-color: var(--cd-inactive-color);
}

.page-property-key {
    color: var(--ls-primary-text-color);
}


.open-block-ref-link {
    background-color: var(--bg-color-1-faded);
    color: var(--cd-alternate-color);
    font-weight: 700;
}

.flex.flex-1.flex-row.w-full.mt-6 {
    margin-top: 0.5rem;
}

.block-properties {
    padding: 0px 8px;
    margin: 0px;
}
.white-theme .references-blocks :is(.CodeMirror-gutter,.CodeMirror-lines,.CodeMirror-scroll,.CodeMirror-sizer) {
    background-color: var(--bg-color-2);
}

.ls-block {
    font-weight: 400;
}
.ls-block b {
    font-weight: 600;
}
.page-reference .bracket {
    color: var(--ls-primary-text-color);
}

/* FIXES */
.whitespace-nowrap {
    white-space: normal;
}