/*@import './worksans.css';*/

@import './markup.css';

.dark-theme,
html[data-theme='dark'] {
    /* Values for calculations */
    --contrastThreshold: 60%;
    --lightnessTransform: 10%;
    --darknessTransform: 15%;
    /* Text Transformer */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 2));
    /* Transformers */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* Color Calculations */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    /* Background Values for calculations */
    --bg-light-transform: 3%;
    /* Transformers */
    --bg-darkness-1: calc(var(--background-color-l) - var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 1));
    --bg-lightness-2: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 2));
    --bg-lightness-3: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 3));
    --bg-lightness-4: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 4));
    --bg-lightness-5: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 5));
    --bg-lightness-6: calc(var(--background-color-l) + calc(var(--bg-light-transform) * 6));
    /* Background Calculations */
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
}

.white-theme,
html[data-theme='light'] {
    /* Values for calculations */
    --contrastThreshold: 60%;
    --lightnessTransform: 10%;
    --darknessTransform: 15%;
    /* Text Transformer */
    --primary-text-darken: calc(var(--primary-text-l) - calc(var(--lightnessTransform) * 3));
    --primary-text-lighten: calc(var(--primary-text-l) + calc(var(--lightnessTransform) * 2));
    /* Transformers */
    --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
    --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
    --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
    --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));
    --accent-color-light-l: calc(var(--accent-color-l) + var(--lightnessTransform));
    --accent-color-dark-l: calc(var(--accent-color-l) - var(--darknessTransform));
    /* Color Calculations */
    --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --color-secondary: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));
    --color-accent: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --color-primary-dark: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-dark-l));
    --color-secondary-dark: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-dark-l));
    --color-accent-dark: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-dark-l));
    --color-primary-light: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-light-l));
    --color-secondary-light: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-light-l));
    --color-accent-light: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-light-l));
    /* Background Values for calculations */
    --bg-light-transform: 3%;
    /* Transformers */
    --bg-darkness-1: calc(var(--background-color-l) + var(--bg-light-transform));
    --bg-lightness-1: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 1));
    --bg-lightness-2: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 2));
    --bg-lightness-3: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 3));
    --bg-lightness-4: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 4));
    --bg-lightness-5: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 5));
    --bg-lightness-6: calc(var(--background-color-l) - calc(var(--bg-light-transform) * 6));
    /* Background Calculations */
    --bg-dark: hsl(var(--background-color-h), var(--background-color-s), var(--bg-darkness-1));
    --bg-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l));
    --bg-color-1: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-1));
    --bg-color-2: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-2));
    --bg-color-3: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-3));
    --bg-color-4: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-4));
    --bg-color-5: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-5));
    --bg-color-6: hsl(var(--background-color-h), var(--background-color-s), var(--bg-lightness-6));
}


/* GLOBAL SETTINGS */

:root {
    --ls-font-family: "Work Sans";
    --ls-main-content-max-width: 900px;
    --ls-main-content-max-width-wide: 100%;
}


/* Code Mirror Block */

.extensions__code-lang {
    top: 8px;
    padding: .10rem .30rem !important;
    right: 4px;
    border-radius: 5px;
    color: var(--bg-color);
    background-color: var(--cd-active-color);
}

.extensions__code .code-editor {
    margin-top: 4px;
}

.CodeMirror pre.CodeMirror-line {
    box-shadow: none;
}

.dark-theme .CodeMirror-gutter,
.dark-theme .CodeMirror-lines,
.dark-theme .CodeMirror-scroll,
.dark-theme .CodeMirror-sizer {
    background-color: var(--bg-dark);
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: var(--bg-color-1);
}

html[data-theme='light'] .CodeMirror-gutter,
.CodeMirror-lines,
.CodeMirror-scroll,
.CodeMirror-sizer {
    background-color: var(--color-level-1);
}

.cm-s-solarized.cm-s-dark {
    color: var(--ls-primary-text-color);
}


/* Code Mirror Colors */

.cm-s-solarized .cm-keyword {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-operator {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-property {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-builtin {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-number {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-string {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-comment {
    color: var(--cd-inactive-color);
}

.cm-s-solarized .cm-variable {
    color: var(--ls-primary-text-color);
}

.cm-s-solarized .cm-def,
.cm-s-solarized .cm-attribute {
    color: var(--cd-active-color);
}


/* Markdown Formatting */

mark {
    background-color: var(--cd-active-color);
    color: var(--bg-color);
}


/* === Headlines & Titles === */

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    border-bottom: 0px solid !important;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    margin: 0 0 0 !important;
}

.editor-inner .h3.uniline-block,
.ls-block h3 {
    position: relative;
    top: -5px;
}

.block-marker {
    color: var(--cd-active-color);
    opacity: 0.7;
    font-weight: 600;
}

.external-link {
    color: var(--ls-link-text-color);
    border-bottom: 0px solid;
    text-decoration: underline;
    text-decoration-skip: none;
}

.external-link:hover {
    color: var(--ls-link-text-hover-color);
}

.block-ref {
    border-bottom: 0px solid var(--cd-accent-color);
    color: var(--cd-active-color);
    padding: 0 0px;
    display: inline;
    font-style: italic;
    opacity: 0.6;
}

.block-ref:hover {
    background: transparent;
    cursor: pointer;
    opacity: 1;
}

.block-ref>div div {
    display: inline;
}

.block-ref a.tag {
    background: transparent;
    border: 0px solid;
    font-size: 100%;
}

.block-children {
    border-left: 1px solid var(--ls-guideline-color);
}

.block-children-left-border {
    background-color: transparent;
}

.block-children-left-border:hover {
    background-color: var(--cd-active-color) !important;
}


/* TYPOGRAPHY */

:not(pre)>code {
    background-color: var(--bg-color-2);
    color: var(--ls-primary-text-color);
    padding: 0px 2px !important;
    border-radius: 1px;
    border: 1px solid var(--bg-color-3);
}

.references-blocks :not(pre)>code {
    background-color: var(--bg-color-4);
    border-radius: 1px;
    border: 1px solid var(--bg-color-5);
}


/*html[data-theme=light] .cp__right-sidebar .block-content {
    --ls-page-inline-code-bg-color: transparent !important;
}*/


/* Right sidebar properties, right sidebar references window */

#right-sidebar .block-properties {
    background-color: var(--color-level-2);
}

#right-sidebar .my-2.color-level .block-properties {
    background-color: var(--color-level-3) !important;
}


/* Embedded page, main container reference window */

#main-content-container .references-blocks .block-properties {
    background-color: transparent;
}


/* References title and breadcrumbs */

.dark-theme .references .foldable-title .page-ref:hover,
.white-theme .references .foldable-title .page-ref:hover {
    color: var(--ls-link-ref-text-hover-color) !important;
}


/* === References Window Breadcrumbs === */

.mx-2.opacity-50 {
    font-size: 100%;
}

.block-parents a:not(.tag) {
    color: var(--ls-primary-text-color);
    font-size: 90%;
    filter: opacity(0.7);
}

.block-parents a:hover {
    color: var(--ls-primary-text-color) !important;
    filter: opacity(1);
}

.foldable-title .page-ref {
    color: var(--cd-active-color);
}

.color-level.rounded {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.my-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

li.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.form-checkbox {
    border: 1.5px solid var(--ls-page-checkbox-border-color);
    background-color: transparent;
    opacity: 0.7;
    border-radius: 1px;
    margin-left: 1px;
    position: relative;
    top: 0px;
}

.form-checkbox:checked {
    background-color: var(--cd-inactive-color);
    opacity: 0.4;
}

.done .tag {
    text-decoration: line-through;
}

a.tag {
    background: transparent;
    color: var(--cd-active-color);
    border: 0px solid var(--bg-color-5);
    font-size: 90%;
    padding: 0px 0px;
    font-weight: 600;
    border-radius: 2px;
}


/* PDF Viewer */

#pdf-layout-container[data-theme=light] .textLayer {
    background-color: #eceff4;
}

#pdf-layout-container[data-theme=dark] .textLayer {
    background-color: #2f3541;
}

#pdf-layout-container[data-theme=light] {
    background-color: #ced6e3;
}

#pdf-layout-container[data-theme=dark] {
    background-color: #22272f;
}

.textLayer .highlight.selected,
.textLayer ::selection {
    background-color: var(--cd-active-color);
}

:root {
    --ph-highlight-color-blue: var(--cd-accent-color);
    --ph-highlight-color-green: var(--cd-green-1);
    --ph-highlight-color-red: var(--cd-active-color);
    --ph-highlight-color-purple: var(--cd-pink-1);
    --ph-highlight-color-yellow: var(--cd-alternate-color);
    --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
}

.hls-popup-box {
    background-color: var(--color-level-3);
}

::-webkit-scrollbar {
    width: 5px !important;
}

.editor-inner textarea {
    caret-color: var(--cd-active-color);
}

.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber,
.cm-s-solarized.cm-s-light {
    text-shadow: none !important;
}

::selection {
    color: var(--bg-color);
}

.block-parents mark {
    text-decoration-color: var(--cd-inactive-color);
}

.page-property-key {
    color: var(--ls-primary-text-color);
}

.open-block-ref-link {
    background-color: var(--bg-color-2);
    color: var(--ls-primary-text-color);
    font-weight: 400;
}

.flex.flex-1.flex-row.w-full.mt-6 {
    margin-top: 0.5rem;
}

.block-properties {
    padding: 0px 8px;
    margin: 0px;
}

.dark-theme .page-properties {
    background: var(--bg-dark);
}

.white-theme .references-blocks :is(.CodeMirror-gutter, .CodeMirror-lines, .CodeMirror-scroll, .CodeMirror-sizer) {
    background-color: var(--bg-color);
}


/*.ls-block {
    font-weight: 400;
}
.ls-block b {
    font-weight: 600;
}*/

.page-reference .bracket {
    color: var(--ls-primary-text-color);
}


/* FIXES */

.whitespace-nowrap {
    white-space: normal;
}