.bg-indigo-600 {
    background-color: var(--cd-active-color);
}

.extensions__code-lang {
    top: 8px;
    padding: .10rem .30rem !important;
    color: var(--bg-color);
}

.extensions__code-lang {
    background-color: var(--cd-accent-color);
}

.dark-theme .CodeMirror-gutter,
.dark-theme .CodeMirror-lines,
.dark-theme .CodeMirror-scroll,
.dark-theme .CodeMirror-sizer {
    background-color: var(--bg-dark);
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: var(--bg-color-1);
}

html[data-theme='light'] .CodeMirror-gutter,
.CodeMirror-lines,
.CodeMirror-scroll,
.CodeMirror-sizer {
    background-color: var(--color-level-1);
}

.cm-s-solarized.cm-s-dark {
    color: var(--ls-primary-text-color);
}


/* something */

.cm-s-solarized .cm-keyword {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-operator {
    color: var(--cd-active-color);
}

.cm-s-solarized .cm-property {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-builtin {
    color: var(--cd-alternate-color);
}

.cm-s-solarized .cm-number {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-string {
    color: var(--cd-accent-color);
}

.cm-s-solarized .cm-comment {
    color: var(--cd-inactive-color);
}

.cm-s-solarized .cm-variable {
    color: var(--ls-primary-text-color);
}

.cm-s-solarized .cm-def,
.cm-s-solarized .cm-attribute {
    color: var(--cd-active-color);
}

mark {
    background-color: transparent;
    color: var(--ls-primary-text-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    text-decoration-color: var(--cd-alternate-color);
    padding: 0px 0px;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
    border-bottom: 0px solid !important;
}

.block-marker {
    color: var(--cd-active-color) !important;
    opacity: 0.7;
}

.dark-theme .external-link:after {
    font-family: 'tabler-icons';
    content: "\ea99";
    padding-left: 3px;
    font-size: 80%;
}

.dark-theme .external-link {
    color: var(--cd-accent-color);
    border-bottom: 0px solid;
}

.dark-theme .external-link:hover {
    color: var(--cd-active-color);
}

.white-theme .external-link:after {
    font-family: 'tabler-icons';
    content: "\ea99";
    padding-left: 3px;
    font-size: 80%;
}

.white-theme .external-link {
    color: var(--cd-accent-color);
    border-bottom: 0px solid;
}

.white-theme .external-link:hover {
    color: var(--cd-active-color);
}

.block-ref {
    border-bottom: 1px solid var(--bg-color-6);
    color: var(--ls-secondary-text-color);
    padding: 0px 0px;
}

.block-ref:hover {
    color: var(--cd-alternate-color);
}

.block-children {
    border-left: 1px solid var(--ls-guideline-color);
}

.block-children-left-border {
    background-color: transparent;
}

.block-children-left-border:hover {
    background-color: var(--ls-primary-text-color) !important;
}

:not(pre)>code {
    font-family: "JetBrains Mono", "Fira Code";
    background-color: var(--ls-primary-text-color);
    color: var(--bg-color);
    padding: 1px 1px !important;
    border-radius: 1px;
}

html[data-theme=light] .cp__right-sidebar .block-content {
    --ls-page-inline-code-bg-color: transparent !important;
}


/* Right sidebar properties, right sidebar references window */

#right-sidebar .block-properties {
    background-color: var(--color-level-2);
}

#right-sidebar .my-2.color-level .block-properties {
    background-color: var(--color-level-3) !important;
}


/* Embedded page, main container reference window */

#main-content-container .references-blocks .block-properties {
    background-color: transparent;
}


/* References title and breadcrumbs */

.dark-theme .references .foldable-title .page-ref:hover,
.white-theme .references .foldable-title .page-ref:hover {
    color: var(--ls-link-ref-text-hover-color) !important;
}

.dark-theme .references .foldable-title .page-ref,
.white-theme .references .foldable-title .page-ref {
    color: var(--ls-primary-text-color);
}

/* === References Window Breadcrumbs === */

.block-parents a:not(.tag) {
    color: var(--ls-secondary-text-color) !important;
    font-size: 100%;
}
.block-parents a.tag {
    color: var(--cd-active-color);
    font-size: 100%;
}

.block-parents a .page-ref {
    color: var(--ls-link-ref-text-color) !important;
    font-size: 100%;
}

.mx-2.opacity-50 {
    font-size: 100%;
}

.dark-theme .block-parents a:hover,
.white-theme .block-parents a:hover {
    color: var(--ls-primary-text-color) !important;
}

.foldable-title .page-ref {
    color: var(--cd-active-color) !important;
}

/*.white-theme .references .foldable-title .page-ref,
.white-theme .block-parents a {
    color: #373f4f;
}*/

.color-level.rounded {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.my-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

li.my-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.form-checkbox {
    border: 0px solid !important;
    background-color: var(--cd-active-color) !important;
    opacity: 0.4;
    border-radius: 2px;
}

.form-checkbox:checked {
    background-color: var(--cd-inactive-color);
    opacity: 0.3;
}

.dark-theme .tag {
    color: var(--cd-alternate-color);
}

.white-theme .tag {
    color: var(--cd-alternate-color);
}

.done .tag {
    text-decoration: line-through;
}

.dark-theme .block-parents a.tag {
    color: var(--ls-secondary-text-color) !important;
    background-color: transparent;
}

/* PDF Viewer */

#pdf-layout-container[data-theme=light] .textLayer {
    background-color: #eceff4;
}

#pdf-layout-container[data-theme=dark] .textLayer {
    background-color: #2f3541;
}

#pdf-layout-container[data-theme=light] {
    background-color: #ced6e3;
}

#pdf-layout-container[data-theme=dark] {
    background-color: #22272f;
}

.textLayer .highlight.selected,
.textLayer ::selection {
    background-color: var(--cd-active-color);
}

:root {
    --ph-highlight-color-blue: var(--cd-accent-color);
    --ph-highlight-color-green: var(--cd-green-1);
    --ph-highlight-color-red: var(--cd-active-color);
    --ph-highlight-color-purple: var(--cd-pink-1);
    --ph-highlight-color-yellow: var(--cd-alternate-color);
    --ph-highlight-scroll-into-color: rgba(255, 75, 93, 0.67);
}

.hls-popup-box {
    background-color: var(--color-level-3);
}

::-webkit-scrollbar {
    width: 5px !important;
}

.editor-inner textarea {
    caret-color: var(--cd-active-color);
}

.cm-s-solarized.cm-s-dark,
.cm-s-solarized.cm-s-dark .CodeMirror-linenumber {
    text-shadow: none !important;
}

::selection {
    color: var(--bg-color);
}

.block-parents mark {
    text-decoration-color: var(--cd-inactive-color);
}

.page-property-key {
    color: var(--ls-primary-text-color);
}


.open-block-ref-link {
    background-color: var(--bg-color-3);
    color: var(--cd-alternate-color);
    font-weight: 700;
}

.flex.flex-1.flex-row.w-full.mt-6 {
    margin-top: 0.5rem;
}

.block-properties {
    padding: 0px 8px;
    margin: 0px;
}
.dark-theme .page-properties {
    background: var(--bg-dark);
}
.white-theme .references-blocks :is(.CodeMirror-gutter,.CodeMirror-lines,.CodeMirror-scroll,.CodeMirror-sizer) {
    background-color: var(--bg-color-2);
}

.ls-block {
    font-weight: 400;
}
.ls-block b {
    font-weight: 700;
}
.page-reference .bracket {
    color: var(--ls-primary-text-color);
}