@import './base.css';
.white-theme,
html[data-theme='light'] {
    --background-color-h: 33;
    --background-color-s: 36%;
    --background-color-l: 95%;
    --primary-color-h: 160;
    --primary-color-s: 19%;
    --primary-color-l: 46%;
    --secondary-color-h: 300;
    --secondary-color-s: 17%;
    --secondary-color-l: 53%;
    --accent-color-h: 0;
    --accent-color-s: 22%;
    --accent-color-l: 48%;
    --primary-text-h: 34;
    --primary-text-s: 8%;
    --primary-text-l: 35%;
}