@import './base.css';
.white-theme,
html[data-theme='light'] {
    --bg-url: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
    --background-color-h: 33;
    --background-color-s: 36%;
    --background-color-l: 99%;
    --primary-color-h: 0;
    --primary-color-s: 22%;
    --primary-color-l: 48%;
    --secondary-color-h: 300;
    --secondary-color-s: 17%;
    --secondary-color-l: 53%;
    --accent-color-h: 160;    
    --accent-color-s: 19%;
    --accent-color-l: 46%;
    --primary-text-h: 34;
    --primary-text-s: 8%;
    --primary-text-l: 35%;
}