@import './core2.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-gradient: linear-gradient(to right top, #1c1c1c, #3e3039, #694544, #856444, #848d51);
    --bg-dark-faded: hsl(0deg 0% 8% / 41%);
    --bg-color-faded: hsl(0deg 0% 11% / 41%);
    --bg-color-1-faded: hsl(0deg 0% 14% / 41%);
    --bg-color-2-faded: hsl(0deg 0% 17% / 41%);
    --bg-color-3-faded: hsl(0deg 0% 20% / 41%);
    --bg-color-4-faded: hsl(0deg 0% 23% / 41%);
    --bg-color-5-faded: hsl(0deg 0% 26% / 41%);
    --bg-color-6-faded: hsl(0deg 0% 29% / 41%);
    --bg-dark: hsl(0, 0%, 8%);
    --bg-color: hsl(0, 0%, 11%);
    --bg-color-1: hsl(0, 0%, 14%);
    --bg-color-2: hsl(0, 0%, 17%);
    --bg-color-3: hsl(0, 0%, 20%);
    --bg-color-4: hsl(0, 0%, 23%);
    --bg-color-5: hsl(0, 0%, 26%);
    --bg-color-6: hsl(0, 0%, 29%);
    --cd-inactive-color: hsl(0, 0%, 40%);
    --cd-active-color: #ea6962;
    --cd-accent-color: #e78c50;
    --cd-alternate-color: #a9b665;
    --cd-alternate-faded-color: #a9b66538;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-4);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: #ea696236;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #d3bd97;
    --ls-secondary-text-color: #a89985;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--cd-alternate-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: #ea696236;
    --ls-block-bullet-color: var(--cd-active-color);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #ea696249;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: var(--color-level-2);
    --ls-scrollbar-foreground-color: var(--cd-inactive-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}

.white-theme,
html[data-theme='light'] {
    --bg-gradient: linear-gradient(to right top, #fbf0c9, #c1d5ae, #88b89e, #529995, #24798b);
    --bg-color-faded: hsl(46deg 33% 11% / 10%);
    --bg-color-1-faded: hsl(46deg 33% 14% / 10%);
    --bg-color-2-faded: hsl(46deg 33% 17% / 10%);
    --bg-color-3-faded: hsl(46deg 33% 20% / 10%);
    --bg-color-4-faded: hsl(46deg 33% 23% / 10%);
    --bg-color-5-faded: hsl(46deg 33% 26% / 10%);
    --bg-color-6-faded: hsl(46deg 33% 29% / 10%);
    --bg-color: #e4ddc9;
    --bg-color-1: hsl(46, 33%, 81%);
    --bg-color-2: hsl(46, 33%, 78%);
    --bg-color-3: hsl(46, 33%, 75%);
    --bg-color-4: hsl(46, 33%, 72%);
    --bg-color-5: hsl(46, 33%, 69%);
    --bg-color-6: hsl(46, 33%, 66%);
    --cd-inactive-color: hsl(46, 33%, 55%);
    --cd-active-color: #6d8ea6;
    --cd-accent-color: #2a8a8f;
    --cd-alternate-color: #fe8019;
    --cd-alternate-faded-color: #55866f3f;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: #6d8ea640;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #3f3930;
    --ls-secondary-text-color: #6a6e66;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--cd-accent-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: #6d8ea640;
    --ls-block-bullet-color: var(--cd-active-color);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #c14a4a5b;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: var(--color-level-2);
    --ls-scrollbar-foreground-color: var(--ls-guideline-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}