/* Tech Garden */

/* === Contents === */
a.page-ref[data-ref="contents"] {
    background: var(--cd-active-color);
    color: var(--bg-color);
    padding: 0px 3px;
    border-radius: 2px;
  }
  a.page-ref[data-ref="contents"]:hover {
    color: var(--bg-color);
  }

/* === Files === */

.page-ref[data-ref="files"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref="files"]:before,
h1.title[data-ref$="files"]:before {
    content: "\eaa2";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="files"],
span[data-page-ref$="files"] {
    display: inline-flex;
}

h1.title[data-ref$="files"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="files"]:after {
    content: "\eaa2";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === Commands === */

.page-ref[data-ref="commands"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref="commands"]:before,
h1.title[data-ref$="commands"]:before {
    content: "\ebef";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="commands"],
span[data-page-ref$="COMMANDS"] {
    display: inline-flex;
}

h1.title[data-ref$="commands"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="commands"]:after {
    content: "\ebef";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === Usage === */

.page-ref[data-ref="usage"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref="usage"]:before,
h1.title[data-ref$="usage"]:before {
    content: "\ed29";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="usage"],
span[data-page-ref$="COMMANDS"] {
    display: inline-flex;
}

h1.title[data-ref$="usage"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="usage"]:after {
    content: "\ed29";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* Zettelkasten */


/* === Zettels === */

a.tag[data-ref="zettel"]:before {
    content: "\ed51";
    font-family: 'tabler-icons';
    margin-right: 1px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref$="(ztl)"],
.page-ref[data-ref$="(z)"],
.page-ref[data-ref$="zettel"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(ztl)"]:before,
h1.title[data-ref$="(ztl)"]:before,
.page-ref[data-ref$="(z)"]:before,
h1.title[data-ref$="(z)"]:before,
.page-ref[data-ref$="zettel"]:before,
h1.title[data-ref$="zettel"]:before {
    content: "\ed51";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

h1.title[data-ref$="(ztl)"],
h1.title[data-ref$="(z)"],
h1.title[data-ref$="zettel"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="(ztl)"],
span[data-page-ref$="(ZTL)"],
span[data-page-ref$="zettel"] {
    display: inline-flex;
}

span[data-page-ref$="(ztl)"] .text-xs.rounded.border.mr-2.px-1,
span[data-page-ref$="zettel"] .text-xs.rounded.border.mr-2.px-1 {
    display: none;
}

span[data-page-ref$="(ztl)"]:before,
span[data-page-ref$="zettel"]:before {
    content: "\ed51";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === PAIN POINT === */

a.tag[data-ref="pain point"]:before {
    content: "🔥";
    margin-right: 1px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref$="pain point"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="pain point"]:before,
h1.title[data-ref$="pain point"]:before {
    content: "🔥";
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

h1.title[data-ref$="pain point"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="pain point"] {
    display: inline-flex;
}

span[data-page-ref$="pain point"] .text-xs.rounded.border.mr-2.px-1 {
    display: none;
}

span[data-page-ref$="pain point"]:before {
    content: "🔥";
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === MOC === */

.page-ref[data-ref$="(moc)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(moc)"]:before,
h1.title[data-ref$="(moc)"]:before {
    content: "\ed50";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(moc)"],
span[data-page-ref$="(MOC)"] {
    display: inline-flex;
}

h1.title[data-ref$="(moc)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="(moc)"]:after {
    content: "\ed50";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === Literature === */

a.tag[data-ref="literature notes"]:before {
    content: "\eb6e";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="literature notes"] {
    color: var(--cd-accent-color);
    font-weight: 600;
}

.page-ref[data-ref="literature notes"]:before,
h1.title[data-ref="literature notes"]:before {
    content: "\eb6e";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref="Literature Notes"] {
    display: inline-flex;
}

span[data-page-ref="Literature Notes"]:after {
    content: "\eb6e";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === Permanent === */

.page-ref[data-ref="permanent notes"] {
    color: var(--cd-alternate-color);
    font-weight: 600;
}

.page-ref[data-ref="permanent notes"]:before,
h1.title[data-ref="permanent notes"]:before {
    content: "\eb96";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref="Permanent Notes"] {
    display: inline-flex;
}

span[data-page-ref="Permanent Notes"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === Sparknote === */

a.tag[data-ref="sparknote"]:before {
    content: "\ea51";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="sparknote"]:before {
    content: "\ea51";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}


/* ======== CRM ======== */


/*** Customers ***/

.page-ref[data-ref$="(c)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(c)"]:before,
h1.title[data-ref$="(c)"]:before {
    content: "\ebf2";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(c)"],
span[data-page-ref$="(C)"] {
    display: inline-flex;
}

h1.title[data-ref$="(c)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="(c)"]:after {
    content: "\ebf2";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/*** Incident Management ***/

.page-ref[data-ref$="incident management"]:before,
h1.title[data-ref$="incident management"]:before {
    content: "\ea48";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="incident management"],
span[data-page-ref$="Incident Management"] {
    display: inline-flex;
}

h1.title[data-ref$="incident management"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="incident management"]:after {
    content: "\ea48";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* PROJECT MANAGEMENT */


/* === Incident Management === */


/* === MOC === */

.page-ref[data-ref$="(t)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(t)"]:before,
h1.title[data-ref$="(t)"]:before {
    content: "\ede7";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(t)"],
span[data-page-ref$="(t)"] {
    display: inline-flex;
}

h1.title[data-ref$="(t)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

span[data-page-ref$="(t)"]:after {
    content: "\ede7";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* === Dail Logs === */

a.tag[data-ref="daily log"]:before {
    content: "\eef7";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="daily log"]:before {
    content: "\eef7";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}


/* === PROJECTS === */

.page-ref[data-ref$="project"]:before,
h1.title[data-ref$="project"]:before {
    content: "\ec45";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

a.tag[data-ref="(prj)"]:before {
    content: "\ec45";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref$="(prj)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(prj)"]:before,
h1.title[data-ref$="(prj)"]:before {
    content: "\ec45";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref="(prj)"] {
    display: inline-flex;
}

span[data-page-ref$="(prj)"]:after {
    content: "\ec45";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

h1.title[data-ref$="(prj)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}


/* === MISC === */

a.tag[data-ref$="breakfix"]:before {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

a.tag[data-ref="work note"]:before {
    content: "\ea89";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

a.tag[data-ref="relevant note"]:before {
    content: "\f00a";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

a.tag[data-ref="proactive"]:before {
    content: "\ee2f";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

a.tag[data-ref="communication note"]:before {
    content: "\ebf2";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

a.tag[data-ref="knowledge bank"]:before {
    content: "\ea39";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

a.tag[data-ref="training"]:before {
    content: "\ec82";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

a.tag[data-ref="misc"]:before {
    content: "\eaf3";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}


/* PAGE REFERENCE MARKUPS */

.page-ref[data-ref^="z_"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref="breakfix"]:before {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="communication note"]:before {
    content: "\ebf2";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="proactive"]:before {
    content: "\ee2f";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="knowledge bank"]:before {
    content: "\ea39";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="training"]:before {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref="misc"]:before {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-right: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.page-ref[data-ref$="(obs)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(iss)"],
.page-ref[data-ref$="(i)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(spk)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(bfix)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(prb)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref$="(sl)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}

.page-ref[data-ref^="z_"]:before,
h1.title[data-ref^="z_"]:before {
    content: "\ed51";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

.page-ref[data-ref$="(obs)"]:before,
h1.title[data-ref$="(obs)"]:before {
    content: "\ec26";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

.page-ref[data-ref$="(iss)"]:before,
h1.title[data-ref$="(iss)"]:before,
.page-ref[data-ref$="(i)"]:before,
h1.title[data-ref$="(i)"]:before {
    content: "\ee72";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

.page-ref[data-ref$="(spk)"]:before,
h1.title[data-ref$="(spk)"]:before {
    content: "\ea51";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

.page-ref[data-ref$="(bfix)"]:before,
h1.title[data-ref$="(bfix)"]:before {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

.page-ref[data-ref$="(prb)"]:before,
h1.title[data-ref$="(prb)"]:before {
    content: "\ea48";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

.page-ref[data-ref$="(sl)"]:before,
h1.title[data-ref$="(sl)"]:before {
    content: "\ed78";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref^="Z:"],
span[data-page-ref$="(bfix)"],
span[data-page-ref$="(sl)"],
span[data-page-ref$="(SL)"],
span[data-page-ref$="(prb)"],
span[data-page-ref$="(PRB)"] span[data-page-ref$="(obs)"],
span[data-page-ref$="(OBS)"],
span[data-page-ref^="OBS "],
span[data-page-ref$="(spk)"] {
    display: inline-flex;
}

span[data-page-ref*="(iss)"],
span[data-page-ref*="(i)"] {
    display: inline-flex;
}

span[data-page-ref*="(iss)"] .text-xs.rounded.border.mr-2.px-1,
span[data-page-ref*="(i)"] .text-xs.rounded.border.mr-2.px-1 {
    display: none;
}

span[data-page-ref^="Z:"]:after {
    content: "\ed51";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(spk)"]:after {
    content: "\ea51";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(obs)"]:after {
    content: "\ec26";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(iss)"]:before,
span[data-page-ref$="(i)"]:before {
    content: "\ee72";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(bfix)"]:after {
    content: "\ec26";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(prb)"]:after {
    content: "\ea48";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref$="(sl)"]:after {
    content: "\ed50";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}

span[data-page-ref^="LN-"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
}


/* References Markup */

a.page-ref[data-ref^="apr "],
a.page-ref[data-ref^="mar "],
a.page-ref[data-ref^="feb "],
a.page-ref[data-ref^="jan "],
a.page-ref[data-ref^="may "],
a.page-ref[data-ref^="jun "],
a.page-ref[data-ref^="jul "],
a.page-ref[data-ref^="aug "],
a.page-ref[data-ref^="sep "],
a.page-ref[data-ref^="oct "],
a.page-ref[data-ref^="nov "],
a.page-ref[data-ref^="dec "] {
    color: var(--cd-accent-color);
    font-weight: 700;
}

a.page-ref[data-ref^="apr "]:before,
a.page-ref[data-ref^="mar "]:before,
a.page-ref[data-ref^="feb "]:before,
a.page-ref[data-ref^="jan "]:before,
a.page-ref[data-ref^="may "]:before,
a.page-ref[data-ref^="jun "]:before,
a.page-ref[data-ref^="jul "]:before,
a.page-ref[data-ref^="aug "]:before,
a.page-ref[data-ref^="sep "]:before,
a.page-ref[data-ref^="oct "]:before,
a.page-ref[data-ref^="nov "]:before,
a.page-ref[data-ref^="dec "]:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-right: 5px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

.color-level.rounded {
    border: 0px solid var(--ls-guideline-color);
}


/* Page References */

.page-ref {
    text-decoration: none;
    text-decoration-thickness: 1.5px;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    text-decoration-color: var(--ls-page-checkbox-color);
}


/* TITLE MARKUPS */

h1.title[data-ref^="apr "],
h1.title[data-ref^="mar "],
h1.title[data-ref^="feb "],
h1.title[data-ref^="jan "],
h1.title[data-ref^="may "],
h1.title[data-ref^="jun "],
h1.title[data-ref^="jul "],
h1.title[data-ref^="aug "],
h1.title[data-ref^="sep "],
h1.title[data-ref^="oct "],
h1.title[data-ref^="nov "],
h1.title[data-ref^="dec "] {
    color: var(--cd-accent-color);
    font-weight: 700;
}

h1.title[data-ref^="apr "]:before,
h1.title[data-ref^="mar "]:before,
h1.title[data-ref^="feb "]:before,
h1.title[data-ref^="jan "]:before,
h1.title[data-ref^="may "]:before,
h1.title[data-ref^="jun "]:before,
h1.title[data-ref^="jul "]:before,
h1.title[data-ref^="aug "]:before,
h1.title[data-ref^="sep "]:before,
h1.title[data-ref^="oct "]:before,
h1.title[data-ref^="nov "]:before,
h1.title[data-ref^="dec "]:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-right: 5px;
    font-weight: 100;
    position: relative;
    top: 0px;
}

h1.title[data-ref$="(bfix)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

h1.title[data-ref$="(iss)"],
h1.title[data-ref$="(i)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

h1.title[data-ref$="(sl)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}

h1.title[data-ref$="(spk)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}


/* JOURNAL PAGES */

.journal-item h1.title {
    color: var(--cd-accent-color);
}

.journal-item h1.title:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
}