/* TAG MARKUPS */

a.tag {
    background: var(--ls-guideline-color);
    border: 0px solid;
    font-size: 85%;
    line-height: 1em;
    padding: 2px 3px;
    font-weight: 700;
    border-radius: 2px;
}
a.tag[data-ref$="note"]:after {
    content: "\efec";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="sparknote"]:after {
    content: "\ea51";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref$="breakfix"]:after {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="work note"]:after {
    content: "\ea89";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="relevant note"]:after {
    content: "\f00a";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="literature notes"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="proactive"]:after {
    content: "\ee2f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="communication note"]:after {
    content: "\ebf2";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="knowledge"]:after {
    content: "\ecf7";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="training"]:after {
    content: "\ec82";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}
a.tag[data-ref="misc"]:after {
    content: "\eaf3";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
    position: relative;
    top: 0px;
    padding-right: 3px;
}

/* PAGE REFERENCE MARKUPS */

.page-ref[data-ref^="z_"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}
.page-ref[data-ref="breakfix"]:after {
  content: "\ec2c";
  font-family: 'tabler-icons';
  margin-left: 3px;
  font-weight: 100;
  position: relative;
  top: 0px;
  padding-right: 3px;
}
.page-ref[data-ref="sparknote"]:after {
  content: "\ec2c";
  font-family: 'tabler-icons';
  margin-left: 3px;
  font-weight: 100;
  position: relative;
  top: 0px;
  padding-right: 3px;
}
.page-ref[data-ref$="(spk)"]:after {
  content: "\ea51";
  font-family: 'tabler-icons';
  margin-left: 3px;
  font-weight: 100;
  position: relative;
  top: 0px;
  padding-right: 3px;
}
.page-ref[data-ref="proactive"]:after {
  content: "\ec2c";
  font-family: 'tabler-icons';
  margin-left: 3px;
  font-weight: 100;
  position: relative;
  top: 0px;
  padding-right: 3px;
}
.page-ref[data-ref="knowledge"]:after {
  content: "\ec2c";
  font-family: 'tabler-icons';
  margin-left: 3px;
  font-weight: 100;
  position: relative;
  top: 0px;
  padding-right: 3px;
}
.page-ref[data-ref="training"]:after {
  content: "\ec2c";
  font-family: 'tabler-icons';
  margin-left: 3px;
  font-weight: 100;
  position: relative;
  top: 0px;
  padding-right: 3px;
}
.page-ref[data-ref="misc"]:after {
  content: "\ec2c";
  font-family: 'tabler-icons';
  margin-left: 3px;
  font-weight: 100;
  position: relative;
  top: 0px;
  padding-right: 3px;
}
.page-ref[data-ref$="(ztl)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}
.page-ref[data-ref$="(moc)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}
.page-ref[data-ref$="(obs)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}
.page-ref[data-ref$="(iss)"] {
  font-weight: 600;
  color: var(--cd-alternate-color);
}
.page-ref[data-ref$="(spk)"] {
  font-weight: 600;
  color: var(--cd-alternate-color);
}
.page-ref[data-ref$="(bfix)"] {
  font-weight: 600;
  color: var(--cd-alternate-color);
}
.page-ref[data-ref$="(prb)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}
.page-ref[data-ref$="(sl)"] {
    font-weight: 600;
    color: var(--cd-alternate-color);
}
.page-ref[data-ref="literature notes"] {
    color: var(--cd-accent-color);
    font-weight: 600;
}
.page-ref[data-ref="permanent notes"] {
    color: var(--cd-alternate-color);
    font-weight: 600;
}

.page-ref[data-ref^="z_"]:before, h1.title[data-ref^="z_"]:before {
    content: "\ed51";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(ztl)"]:before, h1.title[data-ref$="(ztl)"]:before {
    content: "\ed51";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(moc)"]:before, h1.title[data-ref$="(moc)"]:before {
    content: "\ed50";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(obs)"]:before, h1.title[data-ref$="(obs)"]:before {
    content: "\ec26";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(iss)"]:before, h1.title[data-ref$="(iss)"]:before {
    content: "\ee72";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(spk)"]:before, h1.title[data-ref$="(spk)"]:before {
    content: "\ea51";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(bfix)"]:before, h1.title[data-ref$="(bfix)"]:before {
    content: "\ec2c";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(prb)"]:before, h1.title[data-ref$="(prb)"]:before {
    content: "\ea48";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref$="(sl)"]:before, h1.title[data-ref$="(sl)"]:before {
    content: "\ed78";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref="literature notes"]:before, h1.title[data-ref="literature notes"]:before {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  .page-ref[data-ref="permanent notes"]:before, h1.title[data-ref="permanent notes"]:before {
    content: "\eb96";
    font-family: 'tabler-icons';
    margin-right: 3px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }

span[data-page-ref^="Z:"], span[data-page-ref$="(bfix)"], span[data-page-ref$="(sl)"], span[data-page-ref$="(SL)"], span[data-page-ref$="(prb)"], span[data-page-ref$="(PRB)"] span[data-page-ref$="(obs)"], span[data-page-ref$="(OBS)"], span[data-page-ref$="(moc)"], span[data-page-ref$="(MOC)"], span[data-page-ref="(iss)"], span[data-page-ref^="OBS "], span[data-page-ref$="(spk)"], span[data-page-ref="Literature Notes"], span[data-page-ref="Permanent Notes"] {
  display: inline-flex;
}  
  
span[data-page-ref^="Z:"]:after {
  content: "\ed51";
  font-family: 'tabler-icons';
  margin-left: 3px;
  margin-right: 12px;
  position: relative;
  top: 0px;
  font-weight: 100;
}

span[data-page-ref$="(moc)"]:after {
  content: "\ed50";
  font-family: 'tabler-icons';
  margin-left: 3px;
  margin-right: 12px;
  position: relative;
  top: 0px;
  font-weight: 100;
}
span[data-page-ref$="(spk)"]:after {
  content: "\ea51";
  font-family: 'tabler-icons';
  margin-left: 3px;
  margin-right: 12px;
  position: relative;
  top: 0px;
  font-weight: 100;
}
span[data-page-ref$="(obs)"]:after {
  content: "\ec26";
  font-family: 'tabler-icons';
  margin-left: 3px;
  margin-right: 12px;
  position: relative;
  top: 0px;
  font-weight: 100;
}
span[data-page-ref$="(iss)"]:after {
  content: "\ee72";
  font-family: 'tabler-icons';
  margin-left: 3px;
  margin-right: 12px;
  position: relative;
  top: 0px;
  font-weight: 100;
}
span[data-page-ref$="(bfix)"]:after {
  content: "\ec26";
  font-family: 'tabler-icons';
  margin-left: 3px;
  margin-right: 12px;
  position: relative;
  top: 0px;
  font-weight: 100;
}
  span[data-page-ref$="(prb)"]:after {
    content: "\ea48";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }

  span[data-page-ref$="(sl)"]:after {
    content: "\ed50";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  
  span[data-page-ref^="LN-"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  span[data-page-ref="Literature Notes"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }
  span[data-page-ref="Permanent Notes"]:after {
    content: "\ed4f";
    font-family: 'tabler-icons';
    margin-left: 3px;
    margin-right: 12px;
    position: relative;
    top: 0px;
    font-weight: 100;
  }

/* References Markup */
a.page-ref[data-ref^="apr "], a.page-ref[data-ref^="mar "], a.page-ref[data-ref^="feb "], a.page-ref[data-ref^="jan "], a.page-ref[data-ref^="may "], a.page-ref[data-ref^="jun "], a.page-ref[data-ref^="jul "], a.page-ref[data-ref^="aug "], a.page-ref[data-ref^="sep "], a.page-ref[data-ref^="oct "], a.page-ref[data-ref^="nov "], a.page-ref[data-ref^="dec "] {
    color: var(--cd-accent-color);
    font-weight: 700;
}
a.page-ref[data-ref^="apr "]:before, a.page-ref[data-ref^="mar "]:before, a.page-ref[data-ref^="feb "]:before, a.page-ref[data-ref^="jan "]:before, a.page-ref[data-ref^="may "]:before, a.page-ref[data-ref^="jun "]:before, a.page-ref[data-ref^="jul "]:before, a.page-ref[data-ref^="aug "]:before, a.page-ref[data-ref^="sep "]:before, a.page-ref[data-ref^="oct "]:before, a.page-ref[data-ref^="nov "]:before, a.page-ref[data-ref^="dec "]:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-right: 5px;
    font-weight: 100;
    position: relative;
    top: 0px;
}
.color-level.rounded {
    border: 0px solid var(--ls-guideline-color);
}

/* Page References */
.page-ref {
    text-decoration: none;
    text-decoration-thickness: 1.5px;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    text-decoration-color: var(--ls-page-checkbox-color);
}

/* TITLE MARKUPS */
h1.title[data-ref^="apr "], h1.title[data-ref^="mar "], h1.title[data-ref^="feb "], h1.title[data-ref^="jan "], h1.title[data-ref^="may "], h1.title[data-ref^="jun "], h1.title[data-ref^="jul "], h1.title[data-ref^="aug "], h1.title[data-ref^="sep "], h1.title[data-ref^="oct "], h1.title[data-ref^="nov "], h1.title[data-ref^="dec "] {
    color: var(--cd-accent-color);
    font-weight: 700;
}
h1.title[data-ref^="apr "]:before, h1.title[data-ref^="mar "]:before, h1.title[data-ref^="feb "]:before, h1.title[data-ref^="jan "]:before, h1.title[data-ref^="may "]:before, h1.title[data-ref^="jun "]:before, h1.title[data-ref^="jul "]:before, h1.title[data-ref^="aug "]:before, h1.title[data-ref^="sep "]:before, h1.title[data-ref^="oct "]:before, h1.title[data-ref^="nov "]:before, h1.title[data-ref^="dec "]:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-right: 5px;
    font-weight: 100;
    position: relative;
    top: 0px;
}
h1.title[data-ref$="(ztl)"] {
    color: var(--cd-active-color);
    font-weight: 700;
}
h1.title[data-ref$="(bfix)"] {
  color: var(--cd-active-color);
  font-weight: 700;
}
h1.title[data-ref$="(iss)"] {
  color: var(--cd-active-color);
  font-weight: 700;
}
h1.title[data-ref$="(moc)"] {
  color: var(--cd-active-color);
  font-weight: 700;
}
h1.title[data-ref$="(sl)"] {
  color: var(--cd-active-color);
  font-weight: 700;
}
h1.title[data-ref$="(spk)"] {
  color: var(--cd-active-color);
  font-weight: 700;
}

/* JOURNAL PAGES */
.journal-item h1.title {
    color: var(--cd-accent-color);
}
.journal-item h1.title:before {
    content: "\ea53";
    font-family: 'tabler-icons';
    margin-left: 3px;
    font-weight: 100;
}