@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 338;
    --background-color-s: 9%;
    --background-color-l: 15%;
    --primary-color-h: 155;
    --primary-color-s: 78%;
    --primary-color-l: 60%;
    --secondary-color-h: 347;
    --secondary-color-s: 62%;
    --secondary-color-l: 67%;
    --accent-color-h: 187;
    --accent-color-s: 78%;
    --accent-color-l: 60%;
    --primary-text-h: 342;
    --primary-text-s: 11%;
    --primary-text-l: 77%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 40;
    --background-color-s: 90%;
    --background-color-l: 96%;
    --primary-color-h: 339;
    --primary-color-s: 100%;
    --primary-color-l: 67%;
    --secondary-color-h: 33;
    --secondary-color-s: 100%;
    --secondary-color-l: 49%;
    --accent-color-h: 187;
    --accent-color-s: 100%;
    --accent-color-l: 42%;
    --primary-text-h: 328;
    --primary-text-s: 12%;
    --primary-text-l: 25%;
}