@import './core1.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-dark: hsl(220, 16%, 11%);
    --bg-color: hsl(220, 16%, 14%);
    --bg-color-1: hsl(220, 16%, 17%);
    --bg-color-2: hsl(220, 16%, 20%);
    --bg-color-3: hsl(220, 16%, 23%);
    --bg-color-4: hsl(220, 16%, 26%);
    --bg-color-5: hsl(220, 16%, 29%);
    --bg-color-6: hsl(220, 16%, 32%);
    --cd-inactive-color: hsl(220, 16%, 40%);
    --cd-active-color: #88C0D0;
    --cd-accent-color: #B48EAD;
    --cd-alternate-color: #8FBCBB;
    --cd-alternate-faded-color: #8fbcbb3e;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-4);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: #2b303b;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #ECEFF4;
    --ls-secondary-text-color: #cbced1;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-accent-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: var(--color-level-2);
    --ls-block-bullet-color: var(--cd-inactive-color);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #88c0d03d;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: var(--color-level-2);
    --ls-scrollbar-foreground-color: var(--cd-inactive-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}

.white-theme,
html[data-theme='light'] {
    --bg-color: hsl(218, 27%, 94%);
    --bg-color-1: hsl(218, 27%, 91%);
    --bg-color-2: hsl(218, 27%, 88%);
    --bg-color-3: hsl(218, 27%, 85%);
    --bg-color-4: hsl(218, 27%, 82%);
    --bg-color-5: hsl(218, 27%, 79%);
    --bg-color-6: hsl(218, 27%, 76%);
    --cd-inactive-color: hsl(218, 27%, 65%);
    --cd-active-color: #3ca6c3;
    --cd-accent-color: #b36ba5;
    --cd-alternate-color: #5fb8b6;
    --cd-alternate-faded-color: #5fb8b73c;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: #ced6e3;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #3B4252;
    --ls-secondary-text-color: #586279;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-accent-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: var(--color-level-3);
    --ls-block-bullet-color: var(--cd-inactive-color);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #3ca6c33b;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: var(--color-level-2);
    --ls-scrollbar-foreground-color: var(--ls-guideline-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}