@import './core1.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-dark: hsl(212deg 19% 17%);
    --bg-color: hsl(212deg 19% 20%);
    --bg-color-1: hsl(212deg 19% 23%);
    --bg-color-2: hsl(212deg 19% 26%);
    --bg-color-3: hsl(212deg 19% 29%);
    --bg-color-4: hsl(212deg 19% 32%);
    --bg-color-5: hsl(212deg 19% 35%);
    --bg-color-6: hsl(212deg 19% 38%);
    --cd-inactive-color: hsl(212deg 19% 45%);
    --cd-active-color: #30D9C8;
    --cd-accent-color: #8A9EA0;
    --cd-alternate-color: #8A9EA0;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-4);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: var(--color-level-2);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #DFDBD0;
    --ls-secondary-text-color: #c0bfbe;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: var(--color-level-2);
    --ls-block-bullet-color: var(--cd-inactive-color);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #30d9c845;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: var(--color-level-2);
    --ls-scrollbar-foreground-color: var(--cd-inactive-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}

.white-theme,
html[data-theme='light'] {
    --bg-color: hsl(200deg 7% 95%);
    --bg-color-1: hsl(200deg 7% 92%);
    --bg-color-2: hsl(200deg 7% 89%);
    --bg-color-3: hsl(200deg 7% 86%);
    --bg-color-4: hsl(200deg 7% 83%);
    --bg-color-5: hsl(200deg 7% 80%);
    --bg-color-6: hsl(200deg 7% 77%);
    --cd-inactive-color: hsl(220deg 7% 65%);
    --cd-active-color: #0bccb9;
    --cd-accent-color: #44787e;
    --cd-alternate-color: #5f787b;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: var(--color-level-2);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #34444c;
    --ls-secondary-text-color: #76848b;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: var(--color-level-3);
    --ls-block-bullet-color: var(--bg-color-6);
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #0bccb93d;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: var(--color-level-2);
    --ls-scrollbar-foreground-color: var(--ls-guideline-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}