@import './core1.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-dark: #001A21;
    --bg-color: #001C24;
    --bg-color-1: #09232A;
    --bg-color-2: #112930;
    --bg-color-3: #1A3036;
    --bg-color-4: #22373D;
    --bg-color-5: #2B3D43;
    --bg-color-6: #334449;
    --cd-inactive-color: #334449;
    --cd-active-color: #4cbe9f;
    --cd-accent-color: #ec6570;
    --cd-alternate-color: #1b8885;
    --cd-alternate-faded-color: #1b888442;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-4);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: var(--bg-color-3);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #e4f0f1;
    --ls-secondary-text-color: #b5bcbd;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: var(--bg-color-3);
    --ls-block-bullet-color: #69898894;
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #4cbe9f3d;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: #1b888424;
    --ls-scrollbar-foreground-color: var(--cd-inactive-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}

.white-theme,
html[data-theme='light'] {
    --bg-color: #FCF3D9;
    --bg-color-1: #FAEDC6;
    --bg-color-2: #F9E8B4;
    --bg-color-3: #F7E2A1;
    --bg-color-4: #F6DC8E;
    --bg-color-5: #F4D67B;
    --bg-color-6: #F3D068;
    --cd-inactive-color: #F3D068;
    --cd-active-color: #0088a3;
    --cd-accent-color: #f6a351;
    --cd-alternate-color: #39c6bc;
    --cd-alternate-faded-color: #39c6bc3d;
    --ls-primary-background-color: var(--bg-color);
    --ls-secondary-background-color: var(--bg-color-1);
    --ls-tertiary-background-color: var(--bg-color-2);
    --ls-quaternary-background-color: var(--bg-color-3);
    --ls-table-tr-even-background-color: var(--color-level-3);
    --ls-active-primary-color: var(--cd-active-color);
    --ls-active-secondary-color: var(--cd-alternate-color);
    --ls-block-properties-background-color: var(--color-level-1);
    --ls-page-properties-background-color: var(--color-level-1);
    --ls-block-ref-link-text-color: var(--cd-active-color);
    --ls-search-background-color: var(--color-level-3);
    --ls-mark-bg-color: var(--cd-accent-color);
    --ls-mark-color: var(--cd-active-color);
    --ls-border-color: var(--cd-accent-color);
    --ls-secondary-border-color: var(--cd-alternate-color);
    --ls-guideline-color: #f6a35140;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #124668;
    --ls-secondary-text-color: #1246689c;
    --ls-title-text-color: var(--ls-primary-text-color);
    --ls-link-text-color: var(--ls-secondary-text-color);
    --ls-link-text-hover-color: var(--cd-alternate-color);
    --ls-link-ref-text-color: var(--cd-active-color);
    --ls-link-ref-text-hover-color: var(--cd-alternate-color);
    --ls-tag-text-color: var(--cd-active-color);
    --ls-tag-text-hover-color: var(--cd-alternate-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: #f6a35140;
    --ls-block-bullet-color: #f6a351;
    --ls-block-highlight-color: var(--color-level-3);
    --ls-selection-background-color: var(--cd-active-color);
    --ls-page-checkbox-color: #0088a333;
    --ls-page-checkbox-border-color: var(--cd-active-color);
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
    --ls-page-blockquote-border-color: var(--ls-border-color);
    --ls-page-inline-code-color: var(--cd-alternate-color);
    --ls-page-inline-code-bg-color: #61d1ca26;
    --ls-scrollbar-foreground-color: var(--ls-guideline-color);
    --ls-scrollbar-background-color: var(--color-level-2);
    --ls-scrollbar-thumb-hover-color: var(--cd-inactive-color);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-cloze-text-color: var(--cd-active-color);
    --ls-icon-color: var(--cd-active-color);
    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-a-chosen-bg: var(--ls-secondary-background-color);
    --ls-right-sidebar-code-bg-color: var(--bg-color-3);
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: var(--bg-color-4);
    --color-level-5: var(--bg-color-5);
    --color-level-6: var(--bg-color-5);
}