@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-url: url(https://images.unsplash.com/photo-1533610067042-1cee3c403282?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
    --background-color-h: 192;
    --background-color-s: 100%;
    --background-color-l: 11%;
    --primary-color-h: 175;
    --primary-color-s: 59%;
    --primary-color-l: 40%;
    --secondary-color-h: 68;
    --secondary-color-s: 100%;
    --secondary-color-l: 30%;
    --accent-color-h: 45;
    --accent-color-s: 100%;
    --accent-color-l: 35%;
    --primary-text-h: 186;
    --primary-text-s: 8%;
    --primary-text-l: 55%;
}

.white-theme,
html[data-theme='light'] {
    --bg-url: url(https://images.unsplash.com/photo-1542708993627-b6e5bbae43c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2644&q=80);
    --background-color-h: 46;
    --background-color-s: 44%;
    --background-color-l: 89%;
    --primary-color-h: 190;
    --primary-color-s: 100%;
    --primary-color-l: 32%;
    --secondary-color-h: 176;
    --secondary-color-s: 55%;
    --secondary-color-l: 50%;
    --accent-color-h: 30;
    --accent-color-s: 90%;
    --accent-color-l: 64%;
    --primary-text-h: 204;
    --primary-text-s: 70%;
    --primary-text-l: 24%;
}