.cp__sidebar-main-content > div {
    background-color: hsl(var(--background-color-h), var(--background-color-s), var(--background-color-l), 0.98);
}
.block-properties {
    background: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l), 0.1);
    padding: 4px 8px;
    border: 1px solid hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l), 0.05);
    border-radius: 1px;
}
#main-content-container .references-blocks .block-properties {
    background-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l), 0.1);
}
:not(pre)>code {
    padding: 0px 0px !important;
    background: transparent;
    color: var(--color-accent);
}
.color-level, .color-level .color-level {
    background-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l), 0.1);
}