@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-url: url(https://images.unsplash.com/photo-1554110397-9bac083977c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);
    --background-color-h: 192;
    --background-color-s: 100%;
    --background-color-l: 11%;
    --secondary-color-h: 171;
    --secondary-color-s: 95%;
    --secondary-color-l: 54%;
    --accent-color-h: 359;
    --accent-color-s: 55%;
    --accent-color-l: 70%;
    --primary-color-h: 187;
    --primary-color-s: 100%;
    --primary-color-l: 34%;
    --primary-text-h: 190;
    --primary-text-s: 13%;
    --primary-text-l: 63%;
}